{% block dish_selector_creator_widget %}
	{% spaceless %}
		{% set attr={list:'dish_selector', autocomplete:'off'} %}
		{{ block('form_widget') }}
		{% set options = choices %}
		<datalist id="dish_selector">
			{% for group_label, choice in options %}
				<option value="{{ choice.label }}"{% if choice is selectedchoice(label) %} selected="selected"{% endif %}></option>
			{% endfor %}
		</datalist>
	{% endspaceless %}
{% endblock %}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    asd
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple -%}