{###
# Creates a headline
#
# @param order			string      Headline order
# @param label          string      Headline text
# @param id             string      Id tag of the headline
# @param class			string      Additional CSS Classes
# @param tools			string      Additional elements related to the headline
#}
{% macro create(order, label, id, class, tools, sub)  %}
	{%- import 'MealzMealBundle::Components/_common.html.twig' as commonlib -%}
	{%- spaceless -%}
		<div class="headline-container headline-container-h{{ order }} {{ class }}"  {{- commonlib.optionalAttribute('id', id) -}}>
			<h{{ order }} class="headline">
				{{ label }}
			</h{{ order }}>
			{% if tools|length > 0 %}
				<div class="headline-tool">
					{%- for tool in tools -%}
						<div class="headline-tool">
							{{ tool|raw }}
						</div>
					{% endfor %}
				</div>
			{% endif %}
			{% if sub|length > 0 %}
				<div class="sub">
					{{ sub }}
				</div>
			{% endif %}
		</div>
	{%- endspaceless -%}
{% endmacro %}