{% extends '::base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>{% if meal is defined %}Edit "{% if meal.dish %}{{ meal.dish.title }}{% endif %}"{% else %}Create new meal{% endif %}</h1>

		{% include ':partials:flashMessages.html.twig' %}

		{{ form_start(form) }}
			<div class="row">
				<div class="col-md-4">
					{{ form_row(form.dateTime) }}
				</div>
				<div class="col-md-6">
					{{ form_row(form.dish) }}
				</div>
				<div class="col-md-2">
					{{ form_row(form.price) }}
				</div>
			</div>
			{{ form_rest(form) }}
		{{ form_end(form) }}

		{{ form(form) }}
	</div>
{% endblock %}