{% extends '::base.html.twig' %}

{% block body %}

    {{ MealzHeadline.create(1, 'week.list'|trans({},'general'), '', '', []) }}

    {% for week in weeks %}
        {# display week day and date #}
        <!-- @TODO: use week.id instead of weekIdentifier -->
        {% if week.id %}
        <a href="{{ path('MealzMealBundle_Meal_edit', {'week': week.id}) }}" class="week">
            {{ week.startTime | date('d.m.Y') }} - {{ week.EndTime | date('d.m.Y') }}
        </a>
        {% else %}
        <a href="{{ path('MealzMealBundle_Meal_new', {'date': week.year~'W'~week.calendarWeek}) }}"
           class="week">
            {{ week.startTime | date('d.m.Y') }} - {{ week.EndTime | date('d.m.Y') }}
        </a>
        {% endif %}
    {% endfor %}

{% endblock %}