<div class="meal-row">
    <div class="meal-select-box">

        {% for dishvars in meal.dish.vars %}
            {% for weekdishentries in dishvars %}
                {% if weekdishentries is iterable %}
                    <ul>
                        {% for dishentry in weekdishentries %}
                            {% if loop.index == 1 %}
                                <li class="category">
                                    Category: {{ dishentry.data.category.title }}
                                </li>
                            {% endif %}
                            <li class="dishes" data-attribute-id="{{ dishentry.value }}">
                                {{ dishentry.label }}
                                {% if dishentry.data.variations.snapshot|length > 0 %}
                                    <div class="variation-button">variations</div>
                                    <div class="meal-select-variations">
                                        {% for variation in dishentry.data.variations %}
                                            <div class="variation">
                                                <div class="variation-checkbox"></div>
                                                <label for="variation" data-attribute-id="{{ variation.id }}">{{ variation.title }}</label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    <div class="meal-select"></div>
    {{ form_row(meal, {'attr' : {'style' : 'display: none;'}}) }}
</div>
