{% extends '::base.html.twig' %}

{% set wrapperClass = 'meal-form' %}

{% form_theme form _self %}

{% block datetime_widget -%}
    {{ value | trans({}, 'date') }}
{%- endblock datetime_widget %}

{% block body %}

    {% set action %}
        {% if week.id is not null %}
            {{ 'headings.week.edit'|trans({},'general') }}
        {% else %}
            {{ 'headings.week.create'|trans({},'general') }}
        {% endif %}
    {% endset %}

    {% set weekInfo %}
        {% spaceless %}
            #{{ week.startTime | date('W')}}
            ({{ week.startTime | date('d.m.') }}-{{ week.endTime | date('d.m.')}})
        {% endspaceless %}
    {% endset %}

    {% set additionalHeaderItems = ["<div class='switchery-placeholder'></div>"] %}

    {% if week.id is not null %}
        {% set additionalHeaderItems = [
            MealzButton.link(
            path('MealzMealBundle_Print_participations', {'week': week.id}),
            'headings.week.participations'|trans({},'general'),
            '',
            'transparent',
            'glyphicon-th-list'
            )
        ] | merge(additionalHeaderItems) %}
    {% endif %}

    {{ MealzHeadline.create(1, action ~ weekInfo , '', '', additionalHeaderItems) }}

    <div class="week-form">
        {{ form_start(form) }}
        <div class="week-disable">
            {{ form_widget(form.enabled) }}
        </div>

        {% for day in form.days %}
        <div class="meal">
            {# display week day and date #}
            <div class="week-day">
                <span>
                    {{ form_widget(day.dateTime) }}
                </span>
            </div>

            <div class="meal-rows-wrapper">
                {# display meals for given day #}
                {% for meal in day.meals %}
                    <div class="meal-row">
                        <div class="meal-select-box">
                            {% for dishvars in meal.dish.vars %}
                                {% for weekdishentries in dishvars %}
                                    {% if weekdishentries is iterable %}
                                        <ul>
                                            {% for dishentry in weekdishentries %}
                                                {% if loop.index == 1 %}
                                                    <li class="category">
                                                        Category: {{ dishentry.data.category.slug }}
                                                    </li>
                                                {% endif %}
                                                 <li class="dishes">
                                                     {{ dishentry.label }}
                                                    {% if dishentry.data.variations.snapshot|length > 0 %}
                                                        <div class="variation-button"  onclick="$('.variation_choice').show()">
                                                            variations
                                                            <div class="variation_choice" style="display:none;">
                                                                {% for variation in dishentry.data.variations %}
                                                                    {{ dump(variation.description) }}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    {#{% for variation in data.data.variations %}
                                                        {{ dump(variations) }}
                                                    {% endfor %}#}
                                                 </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                        {{ form_row(meal) }}
                    </div>
                {% endfor %}
            </div>

            <div class="week-day-action">
                {{ form_widget(day.enabled) }}
            </div>
        </div>
        {% endfor %}
        {{ form_widget(form.Cancel) }}
        {{ form_widget(form.Save) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
