{% extends '::base.html.twig' %}

{% set wrapperClass = 'meal-form' %}

{% form_theme form _self %}

{% block datetime_widget -%}
    {{ value }}
{%- endblock datetime_widget %}

{% block body %}

    {% set action %}
        {% if week.id is not null %}
            {{ 'week.edit'|trans({},'general') }}
        {% else %}
            {{ 'week.create'|trans({},'general') }}
        {% endif %}
    {% endset %}

    {{ MealzHeadline.create(1, action ~ week.startTime | date('d.m.-') ~ week.endTime | date('d.m.Y'), '', '', ['']) }}

    <div class="week-form">
        {{ form_start(form) }}
        <div class="week-disable">
            {{ form_widget(form.enabled) }}
        </div>

        {% for day in form.days %}
        <div class="meal">
            {# display week day and date #}
            <div class="week-day">
                <span>
                    {{ form_widget(day.dateTime) }}
                </span>
            </div>

            <div class="meal-rows-wrapper">
                {# display meals for given day #}
                {% for meal in day.meals %}
                <div class="meal-row">
                    {{ form_widget(meal) }}
                </div>
                {% endfor %}
            </div>

            <div class="week-day-action">
                {{ form_widget(day.enabled) }}
            </div>
        </div>
        {% endfor %}
        {{ form_widget(form.Cancel) }}
        {{ form_widget(form.Save) }}
        {{ form_end(form) }}
    </div>
{% endblock %}