{% extends '::base.html.twig' %}

{% set wrapperClass = 'meal-form' %}

{% form_theme form _self %}

{% block datetime_widget -%}
    {{ value | trans({}, 'date') }}
{%- endblock datetime_widget %}

{% block body %}

    {% set action %}
        {% if week.id is not null %}
            {{ 'headings.week.edit'|trans({},'general') }}
        {% else %}
            {{ 'headings.week.create'|trans({},'general') }}
        {% endif %}
    {% endset %}

    {% set weekInfo %}
        {% spaceless %}
            #{{ week.startTime | date('W')}}
            ({{ week.startTime | date('d.m.') }}-{{ week.endTime | date('d.m.')}})
        {% endspaceless %}
    {% endset %}

    {% set additionalHeaderItems = ["<div class='switchery-placeholder'></div>"] %}

    {% if week.id is not null %}
        {% set additionalHeaderItems = [
        MealzButton.link(
        path('MealzMealBundle_Print_participations', {'week': week.id}),
        'headings.week.participations'|trans({},'general'),
        '',
        'transparent',
        'glyphicon-th-list'
        )
        ] | merge(additionalHeaderItems) %}
    {% endif %}

    {{ MealzHeadline.create(1, action ~ weekInfo , '', '', additionalHeaderItems) }}

    <div class="week-form">
        {{ form_start(form) }}
        <div class="week-disable">
            {{ form_widget(form.enabled) }}
        </div>

        {% for day in form.days %}
            <div class="meal">
                {# display week day and date #}
                <div class="week-day">
                    <span>
                        {{ form_widget(day.dateTime) }}
                    </span>
                </div>

                <div class="meal-rows-wrapper" data-prototype="{{ form_widget(day.meals.vars.prototype)|e('html_attr') }}">

                    {% for meal in day.meals %}
                        {% set groupedDishes = getGroupedDishes(meal) %}

                        <div class="meal-row">
                            <div class="meal-select-box">
                                <ul>
                                    {% for groupedDish in groupedDishes %}
                                        <li class="category">
                                            Category: {{ groupedDish.label }}
                                        </li>
                                        {% set dishes = getDishesFromGroup(groupedDish) %}
                                        {% for dish in dishes %}
                                            <li class="dishes" data-attribute-id="">
                                                {{ dish.label }}
                                                {% set variations = getVariationsForDish(dish) %}

                                                {% if variations|length > 0 %}
                                                <div class="variation-button">variations</div>
                                                <div class="meal-select-variations">
                                                    {% for variation in variations %}
                                                        <div class="variation">
                                                            <div class="variation-checkbox"></div>
                                                            <label for="variation" data-attribute-id="{{ variation.id }}">{{ variation.title }}</label>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="meal-select"><span class="meal-label"></span></div>
                            {{ form_row(meal, {'attr' : {'style' : 'display: none;'}}) }}
                        </div>

                    {% endfor %}
                    {#{% for meal in day.meals %}#}
                    {#{{ include('MealzMealBundle:MealAdmin:mealSelect.html.twig', {'formView': meal}) }}#}
                    {#{% endfor %}#}

                </div>

                <div class="week-day-action">
                    {{ form_widget(day.enabled) }}
                </div>
            </div>
        {% endfor %}
        {{ form_widget(form.Cancel) }}
        {{ form_widget(form.Save) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
