{% extends 'base_navigation.html.twig' %}

{% import 'MealzTemplateBundle::Components/button.html.twig' as MealzButton %}
{% import 'MealzTemplateBundle::Components/headline.html.twig' as MealzHeadline %}

{% set wrapperClass = 'meal-form' %}

{% block datetime_widget -%}
    {{ value | trans({}, 'date') }}
{%- endblock datetime_widget %}

{% block body %}

    {% set action -%}
        {% if week.id is not null %}
            {{- 'headings.week.edit'|trans({},'general') -}}
        {% else %}
            {{- 'headings.week.create'|trans({},'general') -}}
        {% endif %}
    {% endset %}

    {% set weekInfo -%}
        #{{ week.startTime | date('W') }} ({{ week.startTime | date('d.m.') }}-{{ week.endTime | date('d.m.') }})
    {%- endset %}

    {% set additionalHeaderItems = ["<div class='switchery-placeholder'></div>"] %}

    {% if week.id is not null %}
        {% set additionalHeaderItems = [
            MealzButton.link(
                path('mealz_meal_edit_participations', {'week': week.id}),
                'headings.week.participations'|trans({},'general'),
                '',
                'transparent',
                'glyphicon-th-list',
                '',
                {'data-qa': 'week-participations-button'}
            )
        ] | merge(additionalHeaderItems) %}
    {% endif %}

    {{ MealzHeadline.create(1, action ~ weekInfo , '', '', additionalHeaderItems) }}

    <div class="week-form">
        {{ form_start(form) }}
        <div class="week-disable">
            {{ form_widget(form.enabled) }}
        </div>

        {% for day in week.days %}
            <div class="day">
                {# check if time has modified with calender #}
                {% set timeHasBeenModified = false %}
                {% if day.lockParticipationDateTime != day.dateTime|date_modify(lock_toggle_participation_at) %}
                    {% set timeHasBeenModified = true %}
                {% endif %}

                {# display week day and date if there is a meal selected#}
                {% set selectedMeals = groupMealsToArray(form.days[loop.index0].meals.children) %}
                {% set emptyMealCount = (selectedMeals|length - 2)|abs %}

                {% if emptyMealCount <= 1 %}
                    <span class="calendar-icon{{ timeHasBeenModified ? ' modified' }}"></span>
                    <span class="limit-icon"></span>
                    <div class="limit-box"></div>
                {% endif %}
                <div class="week-day">
                    <span>
                        {{ day.dateTime | date('D') | trans({}, 'date') }}
                    </span>
                </div>

                <div class="meal-rows-wrapper{% if form.children.days.children[loop.index0].enabled.vars.checked == false or form.enabled.vars.checked == false %} disabled{% endif %}" data-prototype="{{ form_widget(form.children.days.children[loop.index0].children.meals.vars.prototype)|e('html_attr') }}">
                    {# Render meal row for each meal which already has a dish #}
                    {% set selectedMeals = groupMealsToArray(form.days[loop.index0].meals.children) %}

                    {% for parentDish, selectedDish in selectedMeals %}
                        {% include 'MealzMealBundle:MealAdmin/partials:meal-row.html.twig' %}
                    {% endfor %}

                    {# Render a meal row for each meal without a dish #}
                    {% set emptyMealCount = (selectedMeals|length - 2)|abs %}
                    {% if emptyMealCount > 0 %}
                        {% for selectedMeal in 0..(emptyMealCount-1) %}
                            {% include 'MealzMealBundle:MealAdmin/partials:meal-row.html.twig' %}
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="event-rows-wrapper{% if form.children.days.children[loop.index0].enabled.vars.checked == false or form.enabled.vars.checked == false %} disabled{% endif %}" data-prototype="{{ form_widget(form.children.days.children[loop.index0].children.event)|e('html_attr') }}">
                    {# Render a event row #}
                    {% set selectedEvent = false %}
                    {% set selectedEvent = form.days[loop.index0].event %}
                    {% include 'MealzMealBundle:MealAdmin/partials:event-row.html.twig' %}
                </div>

                <div class="week-day-action">
                    {{ form_widget(form.children.days.children[loop.index0].lockParticipationDateTime) }}
                    {{ form_widget(form.children.days.children[loop.index0].enabled) }}
                </div>
            </div>
        {% endfor %}
        <div class="week-notify-action">
            {{- 'form.week.notification'|trans({},'general') -}}
            {{ form_widget(form.notifyCheckbox) }}
        </div>
        {{ form_widget(form.Cancel) }}
        {{ form_widget(form.Save) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
