{% extends 'base_navigation.html.twig' %}

{% block body %}
	<div class="container">
		{% include 'MealzAccountingBundle:Accounting/partials:flashMessages.html.twig' %}

		{{ form_start(form) }}
		<div class="row">
			<div class="col-md-2">
				{{ form_row(form.amount) }}
			</div>
			<div class="col-md-2">
				{{ form_row(form.save) }}
			</div>
		</div>
		{{ form_rest(form) }}
		{{ form_end(form) }}
	</div>

{% endblock %}
