{{ form_start(form) }}
	<div class="row">
		<div class="col-md-2">
			{{ form_row(form.from) }}
		</div>
		<div class="col-md-2">
			{{ form_row(form.to) }}
		</div>
		<div class="col-md-2">
			{{ form_row(form.send) }}
		</div>
	</div>
	{{ form_rest(form) }}
{{ form_end(form) }}