<table class="table table-striped table-meals">
	<tbody>
	{% for participation in participations %}
		{% set meal = participation.meal %}
		{% set dish = meal.dish %}
		<tr>
			<td>{{ meal.dateTime | date('Y-m-d') }}</td>
			<td>{{ dish.title }}</td>
			<td>
				{% if participation.isGuest %}<span class="text-muted">({{ participation.guestName }})</span><br>{% endif %}
				{% if participation.comment %}<span class="text-muted">{{ participation.comment }}{% endif %}</span>
			</td>
			<td class="text-right">{% if participation.isAccountable %}{{ meal_cost | number_format(2) }}&nbsp;€{% else %}&ndash;{% endif %}</td>
		</tr>
	{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td class="text-right"><strong>{{ (countAccountableParticipations * meal_cost) | number_format(2) }}&nbsp;€</strong></td>
		</tr>
	</tfoot>
</table>