<table class="table table-striped">
	<tbody>
	{% for participation in participations %}
		{% set meal = participation.meal %}
		{% set dish = meal.dish %}
		<tr>
			<td>{{ meal.dateTime | date('Y-m-d') }}</td>
			<td>{{ dish.title }}</td>
			<td>
				{% if participation.isGuest %}<span class="text-muted">({{ participation.guestName }})</span><br>{% endif %}
				{% if participation.comment %}<span class="text-muted">{{ participation.comment }}{% endif %}</span>
			</td>
			<td class="text-right">{% if participation.isAccountable %}{{ meal.price | localizedcurrency('EUR','de') }}{% else %}&ndash;{% endif %}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>