<table class="table table-striped table-meals">
	<tbody>
	{% for participation in participations %}
		{% set meal = participation.meal %}
		{% set dish = meal.dish %}
		<tr>
			<td>
				{% if is_granted('ROLE_KITCHEN_STAFF') %}
					<div class="btn-group">
						{% if is_allowed_to_leave(meal) %}
							<a
									class="btn btn-default btn-xs"
									href="{{ link(participation, 'delete') }}"
									title="Leave"
									>
								<strong>X</strong>
							</a>
						{% endif %}
						<a
								class="btn btn-default btn-xs"
								href="{{ link(participation, 'edit') }}"
								title="Comment"
								>
							<span class="glyphicon glyphicon-comment"></span>
						</a>
					</div>
				{% endif %}
			</td>
			<td>{{ meal.dateTime | date('Y-m-d') }}</td>
			<td>{{ dish.title }}</td>
			<td>
				{% if participation.isGuest %}<span class="text-muted">({{ participation.guestName }})</span><br>{% endif %}
				{% if participation.comment %}<span class="text-muted">{{ participation.comment }}{% endif %}</span>
			</td>
			<td class="text-right">{% if participation.isAccountable %}{{ meal.price | number_format(2) }}&nbsp;€{% else %}&ndash;{% endif %}</td>
		</tr>
	{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="text-right"><strong>{{ (countAccountableParticipations) | localizedcurrency('EUR','de') }}</strong></td>
		</tr>
	</tfoot>
</table>