{% extends 'base_navigation.html.twig' %}

{% import 'MealzTemplateBundle::Components/headline.html.twig' as MealzHeadline %}

{% block pageView %}adminParticipationEdit{% endblock %}
{% set wrapperClass = 'edit-participation' %}

{% block body %}
    {{ MealzHeadline.create(1, 'headings.week.participations'|trans({},'general'), '', '', []) }}

    {% if users is empty %}
        <p class="empty-table">
        {{ 'content.participation.week.participant.none' | trans({}, 'general') }}
        </p>
    {% endif %}

    {% if(profilesJson|length != 0) %}
        {% include 'MealzMealBundle:Participant/partials:profile-list.html.twig' %}
    {% endif %}

    <div class="table-wrapper" data-weekly-menu="{{ weeklyMenu(week)|json_encode }}">
        <table class="table" {% if users is empty %} style="display: none" {% endif %}>
            <thead class="table-header">
            <tr>
                <th class="table-head wide-cell"></th>
                {% for day in week.days %}
                    {% if day.meals | length > 0 %}
                        <th class="table-head day" colspan="{{ day.meals | length }}">{{ day.dateTime | date('l') | trans({},'date') }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th class="table-head wide-cell week-date">
                    <span>{{ week.startTime | date('d.m.') }}-{{ week.endTime | date('d.m.') }}</span>
                </th>
                {% for day in week.days %}
                    {% for meal in day.meals.groupByType() %}
                        <th class="table-head meal-title">
                            <span>
                                {% if meal.dish.parent %}<b>{{ meal.dish.parent.title }}</b><br>{% endif %}{{ meal.dish.title }}
                            </span>
                        </th>
                    {% endfor %}
                {% endfor %}
            </tr>
            </thead>

            <tbody class="table-content" data-prototype="{{ prototype }}">
            {% for name, participations in users %}
                {% set profile = participations[0].profile %}
                <tr class="table-row">
                    <td class="text table-data wide-cell">
                        {{ profile.fullName }}
                        {% if profile.isGuest and profile.company %}
                            ({{ profile.company }})
                        {% elseif profile.isGuest %}
                            (Guest)
                        {% endif %}
                    </td>
                    {% for day in week.days %}
                        {% set meals = day.meals.groupByType() %}
                        {% set actions = {
                            'join': path('MealzMealBundle_Meal_join', {
                                date: '_date_',
                                dish: '_dishSlug_',
                                profile: profile.username
                            }),
                            'delete': path('MealzMealBundle_Participant_delete', { 'participant': '_participantID_' })
                        } %}
                        {% include 'MealzMealBundle:Participant/partials:participation.html.twig' %}
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr>
                <td class="text table-data wide-cell">{{ 'table.total' | trans({}, 'general') }}</td>
                {% for day in week.days %}
                    {% for meal in day.meals.groupByType() %}
                        <td class="meal-count text text-center table-data" data-dish-slug="{{ meal.dish.slug }}" data-day="{{ meal.dateTime.format('Y-m-d') }}"><span class="count">{{ participationSrv.countByMeal(meal) }}</span></td>
                    {% endfor %}
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>

    <div id="combined-meal-selector" class="combined-meal-selector" data-qa="combined-meal-selector"></div>
{% endblock %}
