{% extends '::base_navigation.html.twig' %}

{% set wrapperClass = 'edit-participation' %}

{% block body %}
    {{ MealzHeadline.create(1, 'headings.week.participations'|trans({},'general'), '', '', []) }}

    {% if users is empty %}
        <p class="empty-table">
        {{ 'content.participation.week.participant.none' | trans({}, 'general') }}
        </p>
    {% endif %}

    {% if(profilesJson|length != 0) %}
        {% include 'MealzMealBundle:Participant/partials:profile-list.html.twig' %}
    {% endif %}

    <table class="table" {% if users is empty %} style="display: none" {% endif %}>
        <thead class="table-header">
        <tr>
            <th class="table-head wide-cell"></th>
            {% for day in week.days %}
                {% if day.meals | length > 0 %}
                    <th class="table-head day" colspan="{{ day.meals | length }}">{{ day.dateTime | date('l') | trans({},'date') }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <th class="table-head wide-cell week-date">
                <span>{{ week.startTime | date('d.m.') }}-{{ week.endTime | date('d.m.') }}</span>
            </th>
            {% for day in week.days %}
                {% for meal in day.meals %}
                    <th class="table-head meal-title">
                        <span>
                            {% if meal.dish.parent %}<b>{{ meal.dish.parent.title }}</b><br>{% endif %}{{ meal.dish.title }}
                        </span>
                    </th>
                {% endfor %}
            {% endfor %}
        </tr>
        </thead>

        <tbody class="table-content" data-prototype="{{ prototype }}">
        {% for name, participations in users %}
            {% set profile = participations[0].profile %}
            <tr class="table-row">
                <td class="text table-data wide-cell">
                    {{ profile.fullName }}
                    {% if profile.isGuest and profile.company %}
                        ({{ profile.company }})
                    {% elseif profile.isGuest %}
                        (Guest)
                    {% endif %}
                </td>
                {% for day in week.days %}
                    {% for meal in day.meals %}
                        {% set participation = isParticipant(participations, meal.participants) %}
                        {% if participation is not null%}
                            <td class="meal-participation participating table-data" data-attribute-action="{{ path('MealzMealBundle_Participant_delete',{
                                'participant': participation.id
                            }) }}">
                                <i class="glyphicon glyphicon-ok"></i>
                            </td>
                        {% else %}
                            <td class="meal-participation table-data" data-attribute-action="{{ path('MealzMealBundle_Meal_join', {
                                date: meal.dateTime | date('Y-m-d'),
                                dish: meal.dish.slug,
                                profile: profile.username
                            }) }}"><i class="glyphicon"></i></td>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
        {% endfor %}
        <tr>
            <td class="text table-data wide-cell">{{ 'table.total' | trans({}, 'general') }}</td>
            {% for day in week.days %}
                {% for meal in day.meals %}
                    <td class="meal-count text text-center table-data"><span>{{ meal.participants | length }}</span></td>
                {% endfor %}
            {% endfor %}
        </tr>
        </tbody>
    </table>
{% endblock %}
