{% extends '::base_navigation.html.twig' %}

{% set wrapperClass = 'print-participations' %}

{% block body %}
    {% if users is not empty %}
        <table class="table">
            <thead class="table-header">
                <tr>
                    <th class="table-head wide-cell"></th>
                    {% for day in week.days %}
                        <th class="table-head day" colspan="{{ day.meals | length }}">{{ day.dateTime | date('l') }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <th class="table-head wide-cell week-date">
                        <span>{{ week.startTime | date('d.m.') }}-{{ week.endTime | date('d.m.') }}</span>
                    </th>
                    {% for day in week.days %}
                        {% for meal in day.meals %}
                            <th class="table-head meal-title">
                                <span>
                                    {% if meal.dish.parent %}<b>{{ meal.dish.parent.title }}</b><br>{% endif %}{{ meal.dish.title }}
                                </span>
                            </th>
                        {% endfor %}
                    {% endfor %}
                </tr>
            </thead>

            <tbody class="table-content" data-prototype="{{ prototype }}">
                {% for name, participations in users %}
                    {% set profile = participations[0].profile %}
                    <tr class="table-row">
                        <td class="text table-data wide-cell">{{ profile.fullName }} {% if profile.isGuest %}(Gast){% endif %}</td>
                        {% for day in week.days %}
                                {% for meal in day.meals %}
                                    {% set participation = isParticipant(participations, meal.participants) %}
                                    {% if participation is not null%}
                                    <td class="meal-participation participating table-data">
                                        <a href="{{ path('MealzMealBundle_Participant_delete',{
                                            'participant': participation.id
                                        }) }}"></a>
                                    </td>
                                    {% else %}
                                    <td class="meal-participation table-data">
                                        <a href="{{ path('MealzMealBundle_Meal_join', {
                                            date: meal.dateTime | date('Y-m-d'),
                                            dish: meal.dish.slug,
                                            profile: profile.username
                                        }) }}"></a>
                                    </td>
                                    {% endif %}
                                {% endfor %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr>
                    <td class="text table-data wide-cell">Gesamt</td>
                    {% for day in week.days %}
                            {% for meal in day.meals %}
                                <td class="meal-count text text-center table-data"><span>{{ meal.participants | length }}</span></td>
                            {% endfor %}
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        {% if(profilesJson|length != 0) %}
            {% include 'MealzMealBundle:Participant/partials:profile-list.html.twig' %}
        {% endif %}
    {% else %}
        {{ 'participant.none' | trans({}, 'general') }}
    {% endif %}
{% endblock %}
