{% extends '::base_navigation.html.twig' %}

{% set wrapperClass = 'print-participation' %}

{% block body %}
    {% if users is not empty %}
        <table class="table">
            <thead class="table-header">
                <tr>
                    <th class="table-head wide-cell week-date">
                        <span>{{ day.dateTime | date('l, d.m.') }}</span>
                    </th>
                    {% for meal in day.meals %}
                        <th class="table-head meal-title">
                            <span>
                                {% if meal.dish.parent %}<b>{{ meal.dish.parent.title }}</b><br>{% endif %}{{ meal.dish.title }}
                            </span>
                        </th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody class="table-content">
                {% for name, participations in users %}
                    {% set profile = participations[0].profile %}
                    <tr class="table-row">
                        <td class="text table-data wide-cell">{{ profile.fullName }} {% if profile.isGuest %}(Gast){% endif %}</td>
                        {% for meal in day.meals %}
                            {% set participation = isParticipant(participations, meal.participants) %}
                            <td class="meal-participation table-data {% if participation is not null%}participating{% endif %}">
                                <i class="glyphicon {% if participation is not null%}glyphicon-ok{% endif %}"></i>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr>
                    <td class="text table-data wide-cell">Gesamt</td>
                    {% for meal in day.meals %}
                        <td class="meal-count text text-center table-data"><span>{{ meal.participants | length }}</span></td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    {% else %}
        {{ 'participant.none' | trans({}, 'general') }}
    {% endif %}
{% endblock %}
