{% extends 'base_navigation.html.twig' %}

{% set wrapperClass = 'print-participation' %}

{% block body %}
    <div class="headline-container headline-container-h1 centered">
        <h1 class="headline">{{ 'headings.week.participationsprint'|trans({},'general') }} {{ day.dateTime | date('l') | trans({}, 'date') }}{{ day.dateTime | date(', d.m.') }}</h1>
    </div>
    {% if users is not empty and day.enabled and (day.meals | length > 0) %}
        {# arrange meals so that combined meal is always first #}
        {% set meals = [] %}
        {% for meal in day.meals %}
            {% set meals =  meal.isCombinedMeal ? [meal]|merge(meals) : meals|merge([meal]) %}
        {% endfor %}

        {% for slot, participants in users %}
            <table class="table">
                <thead class="table-header">
                    <tr>
                        <th class="table-head wide-cell week-date">{{ slot }}</th>
                        {% for meal in meals %}
                            <th class="table-head meal-title">
                                <span>
                                    {% if meal.dish.parent %}<b>{{ meal.dish.parent.title }}</b><br>{% endif %}{{ meal.dish.title }}
                                </span>
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody class="table-content">
                {% for name, participations in participants %}
                    {% set profile = participations[0].profile %}

                    <tr class="table-row">
                        <td class="text table-data wide-cell">{{ profile.fullName }} {% if profile.isGuest %}({{ profile.company }}){% endif %}</td>
                        {% for meal in meals %}
                            {% set participation = isParticipant(participations, meal.participants) %}
                            <td class="meal-participation table-data {% if participation is not null%}participating{% endif %}">
                                <i class="glyphicon {% if participation is not null%}glyphicon-ok{% endif %}"></i>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
        <table class="table">
            <tbody class="table-content">
                <tr>
                    <td class="text table-data wide-cell">{{ 'headings.week.participations'|trans({},'general') }}</td>
                    {% for meal in day.meals %}
                        <td class="meal-count text text-center table-data"><span>{{ meal.participants | length }}</span></td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    {% else %}
        {{ 'content.participation.week.participant.none' | trans({}, 'general') }}
    {% endif %}
{% endblock %}
