<div class="wrapper-form">
    {{ form_start(form) }}

    <fieldset>
        <legend>Deutsch</legend>
        {{ form_row(form.title_de) }}
    </fieldset>

    <fieldset>
        <legend>English</legend>
        {{ form_row(form.title_en) }}
    </fieldset>

    <div class="clear"></div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>