<!DOCTYPE html>
<html>
<head>
	<title>Mealz for Zombies</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('mealz.css') }}" />
</head>
<body>
	<div class="navbar navbar-fixed-top navbar-custom" role="navigation">
		<div class="container">
			<div class="navbar-collapse collapse">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ path('MealzMealBundle_home') }}">Mealz for Zombies</a>
				</div>
				<ul class="nav navbar-nav navbar-left">
					<li><a href="{{ path('MealzMealBundle_Meal') }}">{{ 'Meals'|trans({},'general') }}</a></li>
                    <li><a href="{{ path('MealzMealBundle_Dish') }}">{{ 'Dishes'|trans({},'general') }}</a></li>
                    {% if is_granted('ROLE_KITCHEN_STAFF') %}
                    <li><a href="{{ path('MealzMealBundle_Accounting') }}">{{ 'Accounting'|trans({},'general') }}</a></li>
                    {% endif %}
                </ul>
				{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
					<div class="navbar-form navbar-right">
						<a class="btn btn-danger" href="{{ path('MealzUserBundle_logout') }}">Log out</a>
					</div>
					<div class="navbar-text navbar-right ">
						Herzlich willkommen <strong>{{ app.user.username }}</strong>
					</div>
				{% else %}
					<form class="navbar-form navbar-right" role="form" action="{{ path('MealzUserBundle_checkLogin') }}" method="post">
						<div class="form-group">
							<input type="text" placeholder="Username" class="form-control" name="_username" />
						</div>
						<div class="form-group">
							<input type="password" placeholder="Password" class="form-control" name="_password" />
						</div>
						<button type="submit" class="btn btn-success">Sign in</button>
					</form>
				{% endif %}
			</div>
		</div>
	</div>

	{% block header %}{% endblock %}

	{% block body %}{% endblock %}

    <script src="{{ asset('mealz.js') }}"></script>
	</body>
</html>
