<!DOCTYPE html>
<html>
<head>
	<title>Mealz for Zombies</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% stylesheets output="css/bootstrap.css" filter="?yui_css"
		"../app/Resources/css/bootstrap.css"
		"../app/Resources/css/bootstrap-theme.css"
		"../app/Resources/css/main.css"
	%}
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ path('MealzMealBundle_home') }}">Mealz for Zombies</a>
			</div>
			{#<div class="collapse navbar-collapse">#}
				{#<ul class="nav navbar-nav">#}
					{#<li class="active"><a href="#">Home</a></li>#}
					{#<li><a href="#about">About</a></li>#}
					{#<li><a href="#contact">Contact</a></li>#}
				{#</ul>#}
			{#</div>#}
			<div class="navbar-collapse collapse">
			{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
				<div class="navbar-form navbar-right">
					<a class="btn btn-danger" href="{{ path('MealzUserBundle_logout') }}">Log out</a>
				</div>
				<div class="navbar-text navbar-right ">
					Hi <strong>{{ app.user.username }}</strong>
				</div>
			{% else %}
				<form class="navbar-form navbar-right" role="form" action="{{ path('MealzUserBundle_checkLogin') }}" method="post">
					<div class="form-group">
						<input type="text" placeholder="Username" class="form-control" name="_username" />
					</div>
					<div class="form-group">
						<input type="password" placeholder="Password" class="form-control" name="_password" />
					</div>
					<button type="submit" class="btn btn-success">Sign in</button>
				</form>
			{% endif %}
			</div>
		</div>
	</div>

	{% if block('header') %}
	<div class="jumbotron">
		{% block header %}{% endblock %}
	</div>
	{% endif %}

	{% if block('body') %}
	<div class="container">
		{% for severity in ['danger', 'warning', 'info', 'success'] %}
			{% for flashMessage in app.session.flashbag.get(severity) %}
				<div class="alert alert-{{ severity }}">
					{{ flashMessage }}
				</div>
			{% endfor %}
		{% endfor %}
		{% block body %}{% endblock %}
	</div>
	{% endif %}



	{% javascripts output="js/bootstrap.js" filter="?closure"
		'../app/Resources/js/bootstrap.js'
	%}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	</body>
</html>