{% set activeRoute = app.request.attributes.get('_route') %}

<header>
	<div class="container">
		<a class="logo" href="{{ path('MealzMealBundle_home') }}">
			<img src="{{ asset('images/logo.png') }}" alt="AOE" />
			<span>AOEMEALS</span>
		</a>

		<div class="header-content">
            {% if is_granted('ROLE_KITCHEN_STAFF') %}
                <ul class="navbar">
                    <li>
                        <a href="{{ path('MealzMealBundle_Meal') }}"
                           class="{{ activeRoute matches '/MealzMealBundle_Meal.*/' ? 'active' }}">
                            Menu
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('MealzMealBundle_Dish') }}"
                           class="{{ activeRoute matches '/MealzMealBundle_Dish.*/' ? 'active' }}">
                            Dishes
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('MealzMealBundle_Category') }}"
                           class="{{ activeRoute matches '/MealzMealBundle_Category.*/' ? 'active' }}">
                            Categories
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('MealzMealBundle_Print_costSheet') }}"
                           class="{{ activeRoute == 'MealzMealBundle_Print_costSheet' ? 'active' }}">
                            Costs
                        </a>
                    </li>
                </ul>
            {% endif %}
            <div class="login">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <div class="login-text">You are logged in as: <strong>{{ app.user.username }}</strong></div>
                    {{ MealzButton.link('', '', '', '', 'glyphicon-cog') }}
                    {{ MealzButton.link(path('MealzUserBundle_logout'), '', '', '', 'glyphicon-log-out') }}
                {% else %}
                    <form class="login-form" action="{{ path('MealzUserBundle_checkLogin') }}" method="post">
                        <input type="text" placeholder="Username" class="form-control" name="_username" autofocus />
                        <input type="password" placeholder="Password" class="form-control" name="_password" />
                        <button type="submit" class="button button-login">LOGIN</button>
                    </form>
                {% endif %}
            </div>
		</div>
		<div class="header-toggle hamburger">
			<span>toggle</span>
		</div>
	</div>
</header>