<header>
	<div class="container">
		<a class="logo" href="{{ path('MealzMealBundle_home') }}">
			<img src="{{ asset('images/logo.png') }}" alt="AOE" />
			<span>AOEMEALS</span>
		</a>
		<div class="header-right">
			{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
				<div class="header-text">You are logged in as: <strong>{{ app.user.username }}</strong></div>
				{{ MealzButton.link('', '', '', '', 'glyphicon-cog') }}
				{{ MealzButton.link(path('MealzUserBundle_logout'), '', '', '', 'glyphicon-log-out') }}
			{% else %}
				<form class="login-form" action="{{ path('MealzUserBundle_checkLogin') }}" method="post">
					<input type="text" placeholder="Username" class="form-control" name="_username" />
					<input type="password" placeholder="Password" class="form-control" name="_password" />
					<button type="submit" class="button button-login">LOGIN</button>
				</form>
			{% endif %}
		</div>
		<div class="header-toggle hamburger">
			<span>toggle</span>
		</div>
	</div>
</header>