{% extends 'base.html.twig' %}

{% set available = false %}

{% set wrapperClass = 'meal-guests' %}

{% if form.vars.value.day.enabled and (form.vars.value.day.lockParticipationDateTime | date('U') > 'now' | date('U')) %}
    {% set available = true %}
{% endif %}

{% block headerContent %}
    <div class="guest">
        {% include 'modules/language_switch.html.twig' %}
    </div>
{% endblock %}

{% block body %}
    <div class="headline-container">
        <h1 class="headline">{{ 'headings.guest_enrollment' | trans({}, 'general') }}</h1>
    </div>
    <p class="text-block">{{ 'content.guest_enrollment.message_body' | trans({}, 'general') }}</p>
    <p class="text-block">
        {{ 'content.guest_enrollment.message_ending' | trans({}, 'general') }}<br>
        {{ 'content.guest_enrollment.message_signature' | trans({}, 'general') }}
    </p>
    {{ form_start(form) }}

    <div class="meal-guest {{ available ? 'is-available' : '' }}">
        <div class="header">
            {{ form.vars.value.day.datetime | date('D') | trans({}, 'date') }}{{ form.vars.value.day.datetime | date(' d.m.Y') }}
        </div>
        {% set groupedMeals = groupMeals(form.children.day.children.meals.vars.choices) %}
        {% for meal in groupedMeals.meals%}
            <div class="meal-row">
                {% apply spaceless %}
                    <div class="text">
                        <div class="title">
                            {{ meal.data.dish.title }}
                        </div>
                        <div class="description">
                            {% if meal.data.dish.description %}
                                {{ meal.data.dish.description }}
                            {% else %}
                                {{ 'content.participation.dish.no_description'|trans({},'general') }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="wrapper-vertical-center">
                        <div class="participants">
                            <span class="participants-count {% if meal.data.isParticipationLimitReached %}participation-limit-reached{% endif %}">
                                <span>
                                    {{ meal.data.participants | length }}
                                </span>
                                <label>
                                    {{ meal.data.participationLimit ? ' / ' ~ meal.data.participationLimit }}
                                </label>
                            </span>
                        </div>
                        <div class="action">
                            <div class="checkbox-wrapper {% if meal.data.isParticipationLimitReached %}disabled{% endif %}">
                                {{ form_row(form.children.day.children.meals.children[meal.value]) }}
                            </div>
                        </div>
                    </div>
                {% endapply %}
            </div>
        {% endfor %}
        {% for mealsVariations in groupedMeals.mealsVariations %}
            <div class="meal-row">
                <div class="text">
                    <div class="title">
                        {{ mealsVariations.0.data.dish.parent.title }}
                    </div>
                </div>
                {% for meal in mealsVariations %}
                    {% apply spaceless %}
                        <div class="variation-row">
                            <div class="text text-variation">
                                {{ meal.data.dish.title }}
                            </div>
                            <div class="wrapper-meal-actions wrapper-variation-vertical-center">
                                <div class="participants">
                                    <span class="participants-count {% if form.children.day.children.meals.vars.choices[meal.value].data.isParticipationLimitReached %}participation-limit-reached{% endif %}">
                                        <span>
                                            {{ form.children.day.children.meals.vars.choices[meal.value].data.participants | length }}
                                        </span>
                                        <label>
                                            {{ form.children.day.children.meals.vars.choices[meal.value].data.participationLimit ? ' / ' ~ meal.data.participationLimit }}
                                        </label>
                                    </span>
                                </div>
                                <div class="action">
                                    <div class="checkbox-wrapper {% if form.children.day.children.meals.vars.choices[meal.value].data.isParticipationLimitReached %}disabled{% endif %}">
                                        {{ form_row(form.children.day.children.meals.children[meal.value]) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endapply %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    {{ form_widget(form.profile) }}
    {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}
