{% extends 'base.html.twig' %}

{% block pageView %}mealGuest{% endblock %}

{% set available = false %}

{% set wrapperClass = 'meal-guests' %}

{% if form.vars.value.day.enabled and (form.vars.value.day.lockParticipationDateTime | date('U') > 'now' | date('U')) %}
    {% set available = true %}
{% endif %}

{% block headerContent %}
    <div class="guest">
        {% include 'modules/language_switch.html.twig' %}
    </div>
{% endblock %}

{% block body %}
    <div class="headline-container">
        <h1 class="headline">{{ 'headings.guest_enrollment' | trans({}, 'general') }}</h1>
    </div>
    <p class="text-block">{{ 'content.guest_enrollment.message_body' | trans({}, 'general') }}</p>
    <p class="text-block">
        {{ 'content.guest_enrollment.message_ending' | trans({}, 'general') }}<br>
        {{ 'content.guest_enrollment.message_signature' | trans({}, 'general') }}
    </p>
    {{ form_start(form) }}

    <div class="meal meal-guest {{ available ? 'is-available' }}" data-date="{{ form.vars.value.day.datetime | date('Y-m-d') }}">
        <div class="header">
            {{- form.vars.value.day.datetime | date('D') | trans({}, 'date') -}}
            {{- form.vars.value.day.datetime | date(' d.m.Y') -}}
        </div>
        {{ form_row(form.slot) }}
        {% set groupedMeals = groupMeals(form.children.day.children.meals.vars.choices) %}
        {% for meal in groupedMeals.meals %}
            {% include 'MealzMealBundle:Meal/partials:guestMeal.html.twig' %}
        {% endfor %}
        {% for mealsVariations in groupedMeals.mealsVariations %}
            {% include 'MealzMealBundle:Meal/partials:guestMealVariation.html.twig' %}
        {% endfor %}
        {% if groupedMeals.combinedMeal != null %}
            {% set meal = groupedMeals.combinedMeal %}
            {% set dish = meal.data.dish %}
            {% include 'MealzMealBundle:Meal/partials:guestMeal.html.twig' %}
        {% endif %}
    </div>

    <div id="combined-meal-selector" class="combined-meal-selector"></div>

    {{ form_widget(form.profile) }}
    {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}