{% extends '::base.html.twig' %}

{% set wrapperClass = 'meals-list' %}

{% block body %}
<div class="weeks">
	<div class="week">
		<div class="headline">
			{{ 'week'|trans({},'general') }} {{ week | date('W') }} in {{ week | date('Y') }}
			<span>Mo. 21.3.- Do.24.3.2016</span>
		</div>

		{% include ':partials:flashMessages.html.twig' %}

		{% if meals | length > 0 %}

			{% for day,meals in days %}
				<div class="meal">

					{# display week day and date #}
					<div class="week-day">
						<a name="{{ day | date('Y-m-d') }}"></a>
				<span>
					{{ day | date('D') }}
				</span>
					</div>

					{# display meals for given day #}
					{% for meal in meals %}
						{% include 'MealzMealBundle:Meal/partials:mealColumn.html.twig'  %}
					{% endfor %}

				</div>
			{% endfor %}

		{% else %}
			<div class="alert alert-warning">No meals this week.</div>
		{% endif %}
	</div>

	<div class="week">
		<div class="headline">
			{{ 'week'|trans({},'general') }} {{ week | date('W') }} in {{ week | date('Y') }}
			<span>Mo. 21.3.- Do.24.3.2016</span>
		</div>

		<div class="no-meals">
			Be patient - we don't have
			a menu yet but we're working on it :)
		</div>
	</div>
</div>

<div class="save">
	<button type="button" class="btn btn-save">Save</button>
</div>

{% endblock %}
