{% extends '::base.html.twig' %}

{% block body %}
	<div class="container content-wrapper meals-list">
		<div class="headline">
			{{ 'week'|trans({},'general') }} {{ week | date('W') }} in {{ week | date('Y') }}
			<span>Lorem ipsum dolor sit amet</span>
		</div>

		{% include ':partials:flashMessages.html.twig' %}

		{% if meals | length > 0 %}

			{% for day,meals in days %}
				<div class="meal">

					{# display week day and date #}
					<div class="week-day">
						<a name="{{ day | date('Y-m-d') }}"></a>
						<span>
							{{ day | date('D') }}
						</span>
					</div>

					{# display meals for given day #}
					{% for meal in meals %}
						{% include 'MealzMealBundle:Meal/partials:mealColumn.html.twig'  %}
					{% endfor %}

				</div>
			{% endfor %}

		{% else %}
			<div class="alert alert-warning">No meals this week.</div>
		{% endif %}
		<button type="button" class="btn btn-save">Save</button>
	</div>

{% endblock %}
