{% extends '::base.html.twig' %}

{% block body %}
	<div class="container meals-week">
		<h1>{{ 'week'|trans({},'general') }} {{ week | date('W') }} in {{ week | date('Y') }}</h1>
		{% include ':partials:flashMessages.html.twig' %}

		<ul class="pager">
			<li class="previous">
				<a href="{{ path('MealzMealBundle_Meal_week', {week: week | date_modify('-1 day') | date('o\\\WW')}) }}">&larr; {{ 'week.previous'|trans({},'action') }} </a>
			</li>
			<li class="next">
				<a href="{{ path('MealzMealBundle_Meal_week', {week: week | date_modify('+2 weeks -1 day') | date('o\\\WW')}) }}">{{ 'week.next'|trans({},'action') }} &rarr;</a>
			</li>
		</ul>


		{% if meals | length > 0 %}

			{% for day,meals in days %}
				<div class="row">

					{# display week day and date #}
					<div class="col-sm-2">
						<div class="row">
							<h3 class="h3-no-margin">
								<a name="{{ day | date('Y-m-d') }}"></a>
								<div class="col-sm-12 col-xs-5">{{ day | date('l') }}</div>
								<div class="col-sm-12 col-sm-offset-0 col-xs-4 col-xs-offset-3 meal-date"><small>{{ day | date('d.m.Y') }}</small></div>
							</h3>
						</div>
					</div>

					{# display meals for given day #}
					<div class="col-sm-10">
						{% for meal in meals %}
							{% if is_granted('ROLE_USER') %}
								{% set mealMargin = is_allowed_to_join(meal)
													or is_allowed_to_leave(meal)
													or is_granted('ROLE_KITCHEN_STAFF')
								%}
							{% else %}
								{% set mealMargin = false %}
							{% endif %}

							<div class="row">
								{% include 'MealzMealBundle:Meal/partials:mealColumn.html.twig'  %}
							</div>

							{# seperator / spacing between meals #}
							{% if not loop.last %}
								<div class="row">
									<hr class="hidden-xs">
									{% if mealMargin %}
										<div class="visible-xs-block meal-seperator-xs"></div>
									{% endif %}
								</div>
							{% endif %}

						{% endfor %}
					</div>
				</div>

				{# seperator between days #}
				{% if not loop.last %}
					<div class="row"><hr></div>
				{% endif %}

			{% endfor %}

		{% else %}
			<div class="alert alert-warning">No meals this week.</div>
		{% endif %}

	</div>

{% endblock %}
