{% extends 'base_navigation.html.twig' %}

{% import 'MealzTemplateBundle::Components/button.html.twig' as MealzButton %}

{% block pageView %}mealIndex{% endblock %}
{% set wrapperClass = 'meals-list' %}
{# topics for which to receive the notifications/messages from server #}
{% set topics = ['participation-updates', 'meal-offer-updates', 'slot-allocation-updates', 'keep-alive-connection'] -%}

{% block body %}
    <div class="weeks"
         data-err-join-not-possible="{{ 'error.meal.join_not_allowed' | trans({}, 'messages') }}"
         data-err-update-not-possible="{{ 'error.meal.update_not_allowed' | trans({}, 'messages') }}"
         data-msg-subscribe-url="{{ mercure(topics, {subscribe: topics})|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw|trim('"') }}">
        {% for week in weeks %}
            {% include 'MealzMealBundle:Meal/partials:week.html.twig' %}
        {% endfor %}
    </div>

    <div id="combined-meal-selector" class="combined-meal-selector" data-qa="combined-meal-selector"></div>

    {% include 'MealzMealBundle:Participant/partials:confirmSwapbox.html.twig' %}

    <ul class="legend">
        <li>{{ 'content.participation.legend.available' | trans({}, 'general') }}</li>
        <li>{{ 'content.participation.legend.unavailable' | trans({}, 'general') }}</li>
        <li>{{ 'content.participation.legend.tradeable' | trans({}, 'general') }}</li>
        {% if is_granted('ROLE_KITCHEN_STAFF') %}
            <li class="print">
                {{ MealzButton.link(
                    path('MealzMealBundle_Print_participations'),
                    'headings.week.participations'|trans({},'general'),
                    '',
                    'transparent',
                    'glyphicon-print') }}
            </li>
        {% endif %}
    </ul>

{% endblock %}
