{% extends '::base.html.twig' %}

{% block header %}
	<div class="jumbotron">
	<div class="container">
		<h1>Mealz for Zombies</h1>
		<p>
			Scavenging for something eatable?
		</p>
		<p>
			Your friendly humans at AOE prepared some meals for you. Just register and stop by.
		</p>
		<p>
			<a class="btn btn-primary btn-lg" role="button" href="{{ path('MealzMealBundle_Meal_week', {week: 'this sunday' | date('Y\\\WW')}) }}#{{ 'now' | date('Y-m-d') }}">Current week</a>
			<a class="btn btn-default btn-lg" role="button" href="{{ path('MealzMealBundle_Meal_week', {week: 'this sunday +1 week' | date('Y\\\WW')}) }}">Next week</a>
		</p>
	</div>
	</div>
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Coming up</h1>
		<div class="row">
		{% for meal in meals %}
			{% set dish=meal.dish %}
			<div class="col-md-3">
				<a href="{{ link(meal) }}">
					{% if dish.image %}
						<img src="{{ dish.image.webPath | imagine_filter('thumbnail') }}" />
					{% else %}
						<img src="{{ 'img/placeholder.jpg' | imagine_filter('thumbnail') }}" />
					{% endif %}
					<h4>{{ dish.title }}</h4>
				</a>

				{% if dish.description %}<p>{{ dish.description }}</p>{% endif %}
			</div>
		{% endfor %}
		</div>
	</div>

{% endblock %}
