{% extends '::base.html.twig' %}

{% block body %}
	<div class="container">
	<h1>Menu</h1>
	<table class="table table-striped">
		<tbody>
		{% for meal in meals %}
			{% set dish=meal.dish %}
			<tr>
				<td>{{ meal.dateTime | date('Y-m-d H:i') }}</td>
				<td>
					<p><a href="{{ path('MealzMealBundle_Meal_show', {'meal': meal.id}) }}">{{ dish.title }}</a></p>
					{% if dish.description %}<p class="text-muted">{{ dish.description }}</p>{% endif %}
				</td>
				<td>
					{% if is_granted('ROLE_USER') %}
						<div class="btn-group">
							{% set participant = meal.getParticipant(app.user) %}
							{% if participant %}
								<span class="btn btn-info btn-xs">you join</span>
								{% if is_allowed_to_leave(meal) %}
									<a
										class="btn btn-default btn-xs"
										href="{{ path('MealzMealBundle_Participant_leave', {meal:meal.id}) }}"
									    title="Leave"
									>
										<strong>-</strong>
									</a>
								{% endif %}
								<a
										class="btn btn-default btn-xs"
										href="{{ path('MealzMealBundle_Participant_comment', {meal:meal.id}) }}"
										title="Comment"
										>
									<span class="glyphicon glyphicon-comment"></span>
								</a>
							{% else %}
								<span class="btn btn-default btn-xs">you do not join</span>
								{% if is_allowed_to_join(meal) %}
									<a
										class="btn btn-default btn-xs"
										href="{{ path('MealzMealBundle_Participant_join', {meal:meal.id}) }}"
									    title="Join"
									>
										<strong>+</strong>
									</a>
								{% endif %}
							{% endif %}
						</div>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	</div>

{% endblock %}