{% extends '::base.html.twig' %}

{% block body %}
	<div class="container">
	{% set dish = meal.dish %}
	<h1>{{ dish.title }}</h1>
	<p class="text-muted">on {{ meal.dateTime | date('Y-m-d H:i') }}</p>

	{% include 'MealzMealBundle:Meal/partials:userTools.html.twig' %}

	<h2>
		{% if meal.participants | length > 1 %}
			{{ meal.participants | length }} Participants
		{% elseif meal.participants | length == 1 %}One Participant
		{% else %}No Participants
		{% endif %}
	</h2>
	{% include ':partials:flashMessages.html.twig' %}
	<table class="table table-striped">
		<tbody>
		{% for participant in meal.participants %}
			{% set profile=participant.profile %}
			<tr>
				<td>
					{% if participant.isGuest %}
						{{ participant.guestName }} <span class="text-muted">via {{ profile.username }}</span>
					{% else %}
						{{ profile.username }}
					{% endif %}
				</td>
				<td>{% if participant.comment %}<span class="text-muted">{{ participant.comment }}</span>{% endif %}</td>
				<td>{% if is_granted('ROLE_USER') and participant.profile == app.user.profile %}
					<div class="btn-group">
						{% if is_allowed_to_leave(meal) %}
							<a
									class="btn btn-default btn-xs"
									href="{{ link(participant, 'delete') }}"
									title="Leave"
									>
								<strong>-</strong>
							</a>
						{% endif %}
						<a
								class="btn btn-default btn-xs"
								href="{{ link(participant, 'edit') }}"
								title="Comment"
								>
							<span class="glyphicon glyphicon-comment"></span>
						</a>
					</div>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	</div>

{% endblock %}