{% extends '::base.html.twig' %}

{% block body %}
	{% set dish = meal.dish %}
	<div class="container">
	<h1>{{ dish.title }}</h1>
	<div class="row">
		<div class="col-md-9">
			<p class="text-muted">on {{ meal.dateTime | date('Y-m-d H:i') }}</p>

			{% if dish.description %}
				<p>{{ dish.description | nl2br }}</p>
			{% endif %}

			{% include 'MealzMealBundle:Meal/partials:userTools.html.twig' %}
		</div>
		<div class="col-md-3">
			{% if dish.image %}
				<img src="{{ dish.image.webPath | imagine_filter('thumbnail') }}" />
			{% else %}
				<img src="{{ 'img/placeholder.jpg' | imagine_filter('thumbnail') }}" />
			{% endif %}
		</div>
	</div>

    <h2>
        {% if meal.participants | length > 1 %}{{ 'Currently'|trans({},'general') }} {{ meal.participants | length }} {{ 'participants'|trans({},'general') }}
        {% elseif meal.participants | length == 1 %}{{ 'One participant'|trans({},'general') }}
        {% else %}{{ 'No participants'|trans({},'general') }}
        {% endif %}
    </h2>

    {% if is_granted('ROLE_KITCHEN_STAFF')%}
        {{ form(form) }}
    {%  endif %}

	{% include ':partials:flashMessages.html.twig' %}

	<table class="table table-striped participant-table">
		<tbody>
		{% for participant in meal.participants %}
			{% set profile=participant.profile %}
			<tr>
				<td style="width: 1%">
					{% if (is_granted('ROLE_USER') and participant.profile == app.user.profile) or is_granted('ROLE_KITCHEN_STAFF')%}
						<div class="btn-group">
							{% if is_allowed_to_leave(meal) or is_granted('ROLE_KITCHEN_STAFF')%}
								<a
										class="btn btn-default btn-xs"
										href="{{ link(participant, 'delete') }}"
										title="Leave"
										>
									<strong>X</strong>
								</a>
							{% endif %}
							<a
									class="btn btn-default btn-xs"
									href="{{ link(participant, 'edit') }}"
									title="Comment"
									>
								<span class="glyphicon glyphicon-comment"></span>
							</a>
						</div>
					{% endif %}
				</td>

				<td>
					{% if participant.isGuest %}
						{{ participant.guestName }} <span class="text-muted">via {{ profile.username }}</span>
					{% else %}
						{{ profile.username }}
					{% endif %}
				</td>
				<td>{% if participant.comment %}<span class="text-muted">{{ participant.comment }}</span>{% endif %}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	</div>

{% endblock %}
