{% extends '::base.html.twig' %}

{% block body %}
	<div class="container">
	{% set dish = meal.dish %}
	<h1>{{ dish.title }}</h1>
	<p class="text-muted">on {{ meal.dateTime | date('Y-m-d H:i') }}</p>

	{% if app.user %}
		{% if is_granted('ROLE_USER') %}
			<div class="btn-group">
				{% set participant = meal.getParticipant(app.user) %}
				{% if participant %}
					<span class="btn btn-info">you join</span>
					{% if is_allowed_to_leave(meal) %}
						<a
								class="btn btn-default"
								href="{{ path('MealzMealBundle_Participant_leave', {meal:meal.id}) }}"
								title="Leave"
								>
							<strong>-</strong>
						</a>
					{% endif %}
					<a
							class="btn btn-default"
							href="{{ path('MealzMealBundle_Participant_comment', {meal:meal.id}) }}"
							title="Comment"
							>
						<span class="glyphicon glyphicon-comment"></span>
					</a>
				{% else %}
					<span class="btn btn-default">you do not join</span>
					{% if is_allowed_to_join(meal) %}
						<a
								class="btn btn-default"
								href="{{ path('MealzMealBundle_Participant_join', {meal:meal.id}) }}"
								title="Join"
								>
							<strong>+</strong>
						</a>
					{% endif %}
				{% endif %}
			</div>
		{% endif %}
	{% endif %}

	<h2>
		{% if meal.participants | length > 1 %}
			{{ meal.participants | length }} Participants
		{% elseif meal.participants | length == 1 %}One Participant
		{% else %}No Participants
		{% endif %}
	</h2>
	{% include ':partials:flashMessages.html.twig' %}
	<table class="table table-striped">
		<tbody>
		{% for participant in meal.participants %}
			{% set user=participant.user %}
			<tr>
				<td>{{ user.username }}</td>
				<td>{% if participant.comment %}<span class="text-muted">{{ participant.comment }}</span>{% endif %}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	</div>

{% endblock %}