{% extends '::base.html.twig' %}

{% block body %}
	<div class="container">
	<h1>{{ 'Menu on week'|trans({},'general') }} {{ week | date('W') }} in {{ week | date('Y') }}</h1>
	{% include ':partials:flashMessages.html.twig' %}

	<ul class="pager">
		<li class="previous"><a href="{{ path('MealzMealBundle_Meal_week', {week: week | date_modify('-1 day') | date('Y\\\WW')}) }}">&larr; {{ 'Previous Week'|trans({},'navigation') }} </a></li>
		<li class="next"><a href="{{ path('MealzMealBundle_Meal_week', {week: week | date_modify('+2 weeks -1 day') | date('Y\\\WW')}) }}">{{ 'Next Week'|trans({},'navigation') }} &rarr;</a></li>
	</ul>

	{% if meals | length > 0 %}
		{% for day,meals in days %}
			<a name="{{ day | date('Y-m-d') }}"></a>
			<h2>{{ day | date('l, F d, Y') }}</h2>
			<div class="row">
				{% for meal in meals %}
					{% include 'MealzMealBundle:Meal/partials:mealColumn.html.twig' %}
				{% endfor %}
			</div>
		{% endfor %}
	{% else %}
		<div class="alert alert-warning">No meals this week.</div>
	{% endif %}
	</div>

{% endblock %}