{% extends '::base_navigation.html.twig' %}

{% set wrapperClass = 'print-costsheet' %}

{%- block cost_widget -%}
    {{ cost | number_format(2) }}<i class="glyphicon glyphicon-euro"></i>
{%- endblock cost_widget -%}

{% block body %}
    {{ MealzHeadline.create(1, 'headings.costs.list'|trans({},'general'), '', '', [
        MealzButton.link(path('mealz_accounting_accounting_book'), 'costs.cash_register'|trans({}, 'actions'), '', 'transparent', 'glyphicon-euro')
    ], '') }}

    {% if users is not empty %}
        <table class="table">
            <thead>
            <tr class="table-header">
                <th class="table-head">Name</th>
                {% for columnName in columnNames %}
                    {% if columnName == 'now' | date('F') %}
                        <th class="table-head">{{ 'now' | date('d.m.') }}</th>
                    {% else %}
                        <th class="table-head">{{ columnName }}</th>
                    {% endif %}
                {% endfor %}
                <th class="table-head icon-cell"></th>
            </tr>
            </thead>
            <tbody>
            {% for username, user in users %}
                <tr class="table-row">
                    <td class="table-data">{{ user.name }}, {{ user.firstName }}</td>
                    {% for cost in user.costs %}
                        <td class="table-data">
                            {% if cost > 0 %}
                                +{{ block('cost_widget') }}
                            {% else %}
                                {{ block('cost_widget') }}
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td class="table-data icon-cell">
                        {{ MealzButton.link(
                            path('mealz_accounting_payment_cash_form', {profile: username}),
                            '',
                            '',
                            'load-payment-form transparent',
                            'glyphicon-plus'
                        ) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ 'content.print.costs.no_data' | trans({}, 'general') }}
    {% endif %}

    <div data-balance-account data-src="#hidden-content"></div>
    <div class="balance-account" style="display: none;" id="hidden-content">
        <p>Es wird ein Antrag zum Kontoausgleich dieses Nutzers an HR geschickt. Möchtest du fortfahren?</p>
        <a data-balance-account-close title="Continue" class="button balance-account-item"
           href="{{ path('mealz_accounting_cost_sheet_send_balancing_request') }}">Fortfahren</a>
        <a data-balance-account-close title="Cancel" class="button balance-account-item"
           href="javascript:;">Abbrechen</a>
    </div>

{% endblock %}