{% extends 'base_navigation.html.twig' %}

{% import 'MealzTemplateBundle::Components/button.html.twig' as MealzButton %}
{% import 'MealzTemplateBundle::Components/switchery_checkbox.html.twig' as MealzSwitcheryCheckbox %}
{% import 'MealzTemplateBundle::Components/headline.html.twig' as MealzHeadline %}

{% set wrapperClass = 'print-costsheet' %}

{%- block cost_widget -%}
    {{ cost | number_format(2) }}<i class="glyphicon glyphicon-euro"></i>
{%- endblock cost_widget -%}

{% block body %}

    {% include 'MealzAccountingBundle:Accounting/partials:account_settlement_confirmation.html.twig' %}
    {% include 'MealzAccountingBundle:Accounting/partials:hide_user_confirmation.html.twig' %}

    {% if is_granted('ROLE_FINANCE') %}
        {{ MealzHeadline.create(1, 'headings.costs.list'|trans({},'general'), '', '',
            [MealzButton.buttonbar(
                '',
                'costsheet-headings-buttonbar',
                [
                    MealzButton.link(path('mealz_accounting_accounting_book'), 'costs.cash_register'|trans({}, 'actions'), '', 'transparent', 'glyphicon-euro'),
                    MealzSwitcheryCheckbox.create('toggle-hidden-users', 'costs.show_hidden_users'|trans({}, 'actions'))
                ]
            )],
            '') }}
    {% else %}
        {{ MealzHeadline.create(1, 'headings.costs.list'|trans({},'general'), '', '', [
            MealzSwitcheryCheckbox.create('toggle-hidden-users', 'costs.show_hidden_users'|trans({}, 'actions'))
        ], '') }}
    {% endif %}

    {% if users is not empty %}
        <table class="table">
            <thead>
            <tr class="table-header">
                <th class="table-head">Name</th>
                {% for columnName in columnNames %}
                    {% if columnName == 'now' | date('F') %}
                        <th class="table-head">{{ 'now' | date('d.m.') }}</th>
                    {% else %}
                        <th class="table-head">{{ columnName }}</th>
                    {% endif %}
                {% endfor %}
                <th class="table-head"></th>
            </tr>
            </thead>
            <tbody>
            {% for username, user in users %}
                <tr class="table-row{{ user.hidden ? ' user-hidden' : '' }}">
                    <td class="table-data">{{ user.name }}, {{ user.firstName }}</td>
                    {% for cost in user.costs %}
                        <td class="table-data">
                            {% if cost > 0 %}
                                +{{ block('cost_widget') }}
                            {% else %}
                                {{ block('cost_widget') }}
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td class="table-data">
                        {{ MealzButton.buttonbar(
                            '',
                            'costsheet-buttonbar',
                            [not user.hidden ? MealzButton.link(
                                '',
                                '',
                                '',
                                'hide-user-action transparent',
                                'glyphicon-eye-close',
                                'left',
                                {
                                    'title': 'payment.costsheet.hide_user.button'|trans({}, 'messages'),
                                    'data-profile': username
                                }
                            ) : '<a></a>',
                            MealzButton.link(
                                path('mealz_accounting_payment_cash_form', {profile: username}),
                                '',
                                '',
                                'load-payment-form transparent',
                                'glyphicon-plus'
                            ),
                            user.costs.total > 0 ?
                                MealzButton.link(
                                    path('mealz_accounting_payment_settlement_form', {profile: username}),
                                    '',
                                    '',
                                    'load-payment-form load-settlement-form transparent',
                                    'glyphicon-option-vertical'
                                ) : '<a></a>'
                            ])
                        }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ 'content.print.costs.no_data' | trans({}, 'general') }}
    {% endif %}

{% endblock %}
