<tr class="table-row table-row-form edit-form">
    <td colspan="3">
    {{  form_start(form) }}
    <fieldset>
        <legend>Deutsch</legend>
        {{ form_row(form.description_de) }}
    </fieldset>
    <fieldset>
        <legend>English</legend>
        {{ form_row(form.description_en) }}
    </fieldset>
    {{ form_row(form.save) }}
    {{  form_end(form) }}
    </td>
</tr>
