{{ form_start(form) }}

{{ form_widget(form.profile) }}
{{ form_widget(form.amount) }}
{{ form_widget(form.submit) }}

<a class="button settle-account">{{ 'payment.costsheet.settle_account'|trans({}, 'messages') }}</a>

{{ form_rest(form) }}
{{ form_end(form) }}
