{{ form_start(form) }}

    {{ form_widget(form.profile) }}
    {{ form_widget(form.amount) }}
    {{ form_widget(form.submit) }}

    {% if profileBalance > 0 %}
        <button type="button" class="button settle-account">{{ 'payment.costsheet.settle_account'|trans({}, 'messages') }}</button>
    {% else %}
        <button type="button" class="button settle-account hidden">{{ 'payment.costsheet.settle_account'|trans({}, 'messages') }}</button>
    {% endif %}

    {{ form_rest(form) }}
{{ form_end(form) }}
