<div class="wrapper-form">
    {{ form_start(form) }}

    <fieldset>
        <legend>English</legend>
        {{ form_widget(form.title_en) }}
        {{ form_widget(form.description_en) }}
    </fieldset>

    <fieldset>
        <legend>Deutsch</legend>
        {{ form_widget(form.title_de) }}
        {{ form_widget(form.description_de) }}
    </fieldset>

    {{ form_widget(form.category) }}

    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>