<div class="wrapper-form">
    {{ form_start(form) }}

    <fieldset>
        <legend>Deutsch</legend>
        {{ form_row(form.title_de) }}
        {{ form_row(form.description_de) }}
    </fieldset>

    <fieldset>
        <legend>English</legend>
        {{ form_row(form.title_en) }}
        {{ form_row(form.description_en) }}
    </fieldset>

    <fieldset>
        <label>{{ 'form.create_edit_dish.category' | trans({}, 'general') }}</label>
        {{ form_row(form.category) }}
    </fieldset>
    <fieldset>
        <label>{{ 'form.create_edit_dish.one_serving_size' | trans({}, 'general') }}</label>
        <div class='switchery-placeholder'></div>
        {{ form_row(form.oneServingSize) }}
    </fieldset>

    <div class="clear"></div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
