{% if not day.enabled or 1 > day.meals.count %}
    <div class="meal">
        <div class="meal-row no-meal">{{ 'content.participation.day.disabled'|trans({}, 'general') }}</div>
        <div class="week-day"><span>{{- day.dateTime.format('D') | trans({}, 'date') -}}</span></div>
    </div>
{% else %}

    {% set groupedMeals = groupMeals(day.meals.toArray) %}
    {% set available = day.enabled and (date(day.lockParticipationDateTime, 'U') > date('now', 'U')) %}
    {% set hasVariations = groupedMeals.mealsVariations|length > 0 %}

    <div class="meal{{ available ? ' is-available' }}"
         data-date="{{ day.dateTime.format('Y-m-d') }}"
         data-day-enabled="{{ day.enabled }}"
         data-lock-date-time="{{ day.lockParticipationDateTime.format('Y-m-d\\TH:i:sP') }}"
         data-is-available="{{ available ? 1 : 0 }}"
         data-qa="meal"
         data-qa-has-variations="{{ hasVariations ? 1 : 0 }}"
         data-qa-is-available="{{ available ? 1 : 0 }}"
         data-qa-day="{{ day.id }}">

        {%- include 'MealzMealBundle:Meal/partials:mealSlots.html.twig' -%}

        {# display week day and date #}
        <div class="week-day">
            <span>{{- day.dateTime | date('D') | trans({}, 'date') -}}</span>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and available %}
                <button class="guest-menu" data-copytarget="#copy-link-{{ day.id }}">
                    <span class="glyphicon glyphicon-new-window"></span>
                </button>
                <div class="guest-menu-link">
                    <textarea id="copy-link-{{ day.id }}"></textarea>
                    <span class="message"><span class="glyphicon glyphicon-ok"></span> {{ 'content.participation.meal.clipboard'|trans({},'general') }}</span>
                </div>
            {% endif %}
        </div>

        {% for meal in groupedMeals.meals %}
            {% include 'MealzMealBundle:Meal/partials:meal.html.twig' %}
        {% endfor %}

        {% for mealVariationGroup in groupedMeals.mealsVariations %}
            {% include 'MealzMealBundle:Meal/partials:mealVariation.html.twig' %}
        {% endfor %}

        {% if groupedMeals.combinedMeal != null %}
            {% set meal = groupedMeals.combinedMeal %}
            {% include 'MealzMealBundle:Meal/partials:meal.html.twig' %}
        {% endif %}

        {% if day.meals | length == 1 %}
            <div class="meal-row one-meal">{{ 'content.participation.meal.no_service'|trans({},'general') }}</div>
        {% elseif day.meals | length == 0 %}
            <div class="meal-row no-meal">{{ 'content.participation.meal.no_service'|trans({},'general') }}</div>
        {% endif %}

        {% if day.event  %}
            {% set eventParticipation = day.event %}
            {% include 'MealzMealBundle:Meal/partials:event.html.twig' %}
        {% endif %}
    </div>
{% endif %}

