{% set dish = meal.data.dish %}
<div class="meal-row{{ dish.isCombinedDish ? ' combined-meal' }}"
     data-slug="{{ dish.slug }}"
     data-description="{{ dish.description }}"
     data-qa-combined="{{ dish.isCombinedDish ? 1 : 0 }}">
    <div class="title{{ not dish.description ? ' no-description'}}">{{ dish.title }}</div>
    <div class="description">
        {{- dish.description -}}
    </div>
    {% include 'MealzMealBundle:Meal/partials:guestMealActionsWrapper.html.twig' %}
</div>
