{% set participations = participations[meal.data.id][meal.data.dish.slug] %}
{% set hasLimit = 0 < participations['limit'] %}
{% set participantsCountClasses = ['participants-count'] %}
{% set checkboxWrapperClasses = ['checkbox-wrapper'] %}

{% if availabilityService.available(meal.data) %}
    {% set participantsCountClasses = participantsCountClasses|merge(['participation-allowed']) %}
{% else %}
    {% set checkboxWrapperClasses = checkboxWrapperClasses|merge(['disabled']) %}
{% endif %}
<div class="wrapper-meal-actions wrapper-variation-vertical-center" data-id="{{ meal.data.id }}">
    <div class="participants">
        <span class="{{ participantsCountClasses|join(' ') }}">
            <span>
                {{- participations["count"] -}}
            </span>
            <label>
                {{- hasLimit ? ' / ' ~ participations['limit'] -}}
            </label>
        </span>
    </div>
    <div class="action">
        <div class="{{ checkboxWrapperClasses|join(' ') }}">
        {{ form_row(form.children.day.children.meals.children[meal.value]) }}
        </div>
    </div>
</div>
