{% set mealObj = meal.data %}
{% set dish = mealObj.dish %}
{% set availability = availabilityService.byMeal(mealObj) %}
<div class="meal-row{{ dish.isCombinedDish ? ' combined-meal' }}"
     data-slug="{{ dish.slug }}"
     data-description="{{ dish.description }}"
     data-available-dishes="{{ availability['availableWith'] is defined ? availability['availableWith']|join(',') }}"
     data-qa-combined="{{ dish.isCombinedDish ? 1 : 0 }}"
     data-qa-combined="{{ dish.isCombinedDish ? 1 : 0 }}">
    <div class="title{{ not dish.description ? ' no-description'}}">{{ dish.title }}</div>
    <div class="description">
        {{- dish.description -}}
    </div>

    {%- include 'MealzMealBundle:Meal/partials:guestMealActionsWrapper.html.twig' %}
</div>
