{% set dish = meal.dish %}
{% set canEditCombinedDish = false %}
{% set combinedDishIDs = '' %}
{% set bookedDishTitles = [] %}
{% set participant = meal.getParticipant(app.user.profile) %}
{% set dishDescription = dish.description %}

{% if dish.isCombinedDish %}
    {% set availability = availabilityService.byMeal(meal) %}
    {% set bookedDishCombination = participant ? participant.combinedDishes %}
    {% if bookedDishCombination|length > 0 %}
        {% set bookedDishTitles = bookedDishCombination.toArray|map(d => d.title) %}
        {% set combinedDishIDs = bookedDishCombination.toArray|map(d => d.slug)|join(',') %}
        {% set canEditCombinedDish = available and bookedDishCombination.containsDishVariation %}
    {% endif %}
{% endif %}

<div class="meal-row{{ dish.isCombinedDish ? ' combined-meal' }}"
     data-slug="{{ dish.slug }}"
    {% if meal.isOpen() %}
        data-participant-id="{{ participant ? participant.id }}"
        data-booked-dishes="{{ combinedDishIDs }}"
        data-description="{{ dishDescription }}"
    {% endif %}
    {% if dish.isCombinedDish and availability['availableWith'] is defined %}
        data-available-dishes="{{ availability['availableWith']|join(',') }}"
    {% endif %}
     data-qa-combined="{{ dish.isCombinedDish ? 1 : 0 }}"
    >
    <div class="title{{ canEditCombinedDish ? ' edit' }}{{ not dishDescription and not bookedDishTitles ? ' no-description'}}">
        {{- dish.title -}}
        {%- if dishService.isNew(dish) %}
            <span class="new-flag">{{ 'content.participation.dish.new'|trans({},'general') }}</span>
        {% endif -%}
    </div>
    <div class="description">
        <div class="text dish-combination">
            {% for dishTitle in bookedDishTitles %}
                <div class="dish">{{ dishTitle }}</div>
            {% else %}
                {{ dishDescription }}
            {% endfor %}
        </div>
        <div class="text price">{{ meal.price|number_format(2, 'payment.separator.decimals'|trans({},'messages'), 'payment.separator.thousands'|trans({},'messages')) }} €</div>
    </div>
    {% include 'MealzMealBundle:Meal/partials:mealActionsWrapper.html.twig' %}
</div>
