{% set dish = meal.dish %}
<div class="meal-row" {{ dish.isCombinedDish ? 'data-combined="1"' }} data-slug="{{ dish.slug }}">
        <div class="text">
            <div class="title">
                {{- dish.title -}}
                {%- if dishService.isNew(dish) %}
                    <span class="new-flag">{{ 'content.participation.dish.new'|trans({},'general') }}</span>
                {% endif -%}
            </div>
            <div class="description">
                {% if dish.isCombinedDish %}
                    {%  set bookedDishCombinaton = participationService.getBookedDishCombination(app.user.profile, meal) %}
                    <div class="text dish-combination{{ bookedDishCombinaton|length ? ' edit' }}">
                    {% if bookedDishCombinaton|length == 0 %}
                        {{- dish.description -}}
                    {% else %}
                            {%- for bookedDish in bookedDishCombinaton -%}
                                {{- bookedDish.title -}}
                                {%- if not loop.last -%}
                                    {{- ', ' -}}
                                {%- endif -%}
                            {%- endfor -%}
                    {% endif %}
                    </div>
                    <div class="text price">({{ 'header.navigation.costs'|trans({},'general')}} {{ meal.price|number_format(2, '.', ',') }} €)</div>
                {% else %}
                    {%- if dish.description -%}
                        {{- dish.description -}}
                    {%- else -%}
                        {{- 'content.participation.dish.no_description'|trans({},'general') -}}
                    {%- endif -%}
                {% endif %}
            </div>
        </div>
    {% include 'MealzMealBundle:Meal/partials:mealActionsWrapper.html.twig' %}
</div>
