{% set dish = meal.dish %}

<div class="meal-row">
	<div class="text">
		<div class="title">
			{{ dish.title }}
		</div>
		<div class="description">
			Description here
			{{ dish.description }}
		</div>
	</div>
	<div class="participants">
		<span>
			<span>
				{{ meal.participants | length }}
			</span>
		</span>
	</div>
	<div class="action">
		{% if is_granted('ROLE_USER') %}
			{% set participant = meal.getParticipant(app.user.profile) %}

			{# join / leave using a checkbox #}
			{% if participant and is_allowed_to_leave(meal) %}
				<input type="checkbox" class="participation-checkbox"
					   value="{{ link(participant, 'delete') }}"
					   checked
					   data-action-type="leave"
				>
			{% else %}
				{% if is_allowed_to_join(meal) %}
					<input type="checkbox"
						   class="participation-checkbox"
						   value="{{ link(meal, 'join') }}"
						   data-action-type="join"
					>
				{% else %}
					<input type="checkbox" class="participation-checkbox disabled" value="">
				{% endif %}
			{% endif %}

		{% else %}
			<input type="checkbox" class="participation-checkbox disabled" value="">
		{% endif %}
	</div>
</div>