{% set dish = meal.dish %}

<div class="meal-row">
	{% spaceless %}
	<div class="text">
		<div class="title">
			{{ dish.title }}
		</div>
		<div class="description">
			{% if dish.description %}
				{{ dish.description }}
			{% else %}
				{{ 'content.participation.dish.no_description'|trans({},'general') }}
			{% endif %}
		</div>
	</div>
	<div class="wrapper-meal-actions wrapper-vertical-center">
		<div class="participants">
			<span class="participants-count">
				<span>
					{{ meal.participants | length }}
					{% if meal.participationLimit is not same as(0) %}
						/ {{ meal.participationLimit }}
					{% endif %}
				</span>
			</span>
		</div>
		<div class="action">
			{% if is_granted('ROLE_USER') %}
				{% set participant = meal.getParticipant(app.user.profile) %}
				{# join / leave using a checkbox #}
				{% if participant %}
					{% if is_allowed_to_leave(meal) %}
						{{ MealzCheckbox.create(link(participant, 'delete') ,'participation-checkbox', {'checked': 'checked'}) }}
					{% else %}
						{{ MealzCheckbox.create('' ,'participation-checkbox', {'checked': 'checked', 'disabled': 'disabled'}) }}
					{% endif %}
				{% else %}
					{% if is_allowed_to_join(meal) %}
						{{ MealzCheckbox.create(link(meal, 'join') ,'participation-checkbox') }}
					{% else %}
						{{ MealzCheckbox.create('' ,'participation-checkbox', {'disabled': 'disabled'}) }}
					{% endif %}
				{% endif %}

			{% else %}
				{{ MealzCheckbox.create('' ,'participation-checkbox', {'disabled': 'disabled'}) }}
			{% endif %}
		</div>
	</div>
	{% endspaceless %}
</div>