{% if slots is not empty -%}
    {% set slotStatus = participationService.slotsStatusOn(day.dateTime) %}
    {% set userSlot = participationService.getSlot(app.user.profile, day.dateTime) -%}
    <div class="slot-container">
        <select id="day-{{ day.dateTime.format('Ymd') }}-slots" class="slot-selector" {{ not day.meals.containsBookableMeal ? 'disabled' }}>
            <option value=""{% if userSlot and userSlot.slug !='' %} style="display: none;"{% endif %}>
                {{ 'content.participation.meal.select_slot' | trans({}, 'general') }}
            </option>
            {% for slot in slots -%}
                {% set slotSelected = userSlot and userSlot.slug == slot.slug %}
                {% set slotLabel = slot.title %}
                {% if slot.limit and slotStatus[slot.slug] is defined %}
                    {% set slotLabel = slotLabel ~ ' (' ~  slotStatus[slot.slug] ~ '/' ~ slot.limit ~ ')' %}
                {% endif %}
                <option value="{{ slot.slug }}" {{ slotSelected ? 'selected="selected"' }} data-title="{{ slot.title }}" data-limit="{{ slot.limit }}">{{ slotLabel }}</option>
            {%- endfor -%}
        </select>
    </div>
{% endif -%}
