{% set dish = meal.dish %}
{% set combinedDish = '0' %}
{% set combinedDishIDs = '' %}
{% set combinedDishTitle = '' %}

{% if dish.isCombinedDish %}
    {% set combinedDish = '1' %}
    {% set bookedDishCombination = participationService.getBookedDishCombination(app.user.profile, meal) %}
    {% if bookedDishCombination|length > 0 %}
        {% set combinedDishTitle = bookedDishCombination.toArray|map(d => d.title)|join(', ') %}
        {% set combinedDishIDs = bookedDishCombination.toArray|map(d => d.slug)|join(', ') %}
    {% endif %}
{% endif %}

<div class="meal-row"
     data-combined="{{ combinedDish }}"
     data-slug="{{ dish.slug }}"
     data-booked-dishes="{{ combinedDishIDs }}"
     data-join-url="{{ link(meal, 'join') }}">
        <div class="text">
            <div class="title">
                {{- dish.title -}}
                {%- if dishService.isNew(dish) %}
                    <span class="new-flag">{{ 'content.participation.dish.new'|trans({},'general') }}</span>
                {% endif -%}
            </div>
            <div class="description">
                <div class="text dish-combination{{ combinedDishIDs ? ' edit' }}">
                    {{ combinedDishTitle|default(dish.description)|default('content.participation.dish.no_description'|trans({},'general')) }}
                </div>
                <div class="text price">({{ 'header.navigation.costs'|trans({},'general')}} {{ meal.price|number_format(2, '.', ',') }} €)</div>
            </div>
        </div>
    {% include 'MealzMealBundle:Meal/partials:mealActionsWrapper.html.twig' %}
</div>
