{% set dish = meal.dish %}

<div class="meal-row">
	<div class="text">
		<div class="title">
			{{ dish.title }}
		</div>
		<div class="description">
			{{ dish.description }}
		</div>
	</div>
	<div class="participants">
		<span>
			<span class="participants-count">
				{{ meal.participants | length }}
			</span>
		</span>
	</div>
	<div class="action">
		{% if is_granted('ROLE_USER') %}
			{% set participant = meal.getParticipant(app.user.profile) %}

			{# join / leave using a checkbox #}
			{% if participant %}
				{% if is_allowed_to_leave(meal) %}
					{{ MealzButton.checkbox(link(participant, 'delete') ,'participation-checkbox', {'checked': 'checked'}) }}
				{% else %}
					{{ MealzButton.checkbox('' ,'participation-checkbox', {'checked': 'checked', 'disabled': 'disabled'}) }}
				{% endif %}
			{% else %}
				{% if is_allowed_to_join(meal) %}
					{{ MealzButton.checkbox(link(meal, 'join') ,'participation-checkbox') }}
				{% else %}
					{{ MealzButton.checkbox('' ,'participation-checkbox', {'disabled': 'disabled'}) }}
				{% endif %}
			{% endif %}

		{% else %}
			{{ MealzButton.checkbox('' ,'participation-checkbox', {'disabled': 'disabled'}) }}
		{% endif %}
	</div>
</div>