{% import 'MealzTemplateBundle::Components/checkbox.html.twig' as MealzCheckbox %}
<div class="action">
    {% if is_granted('ROLE_USER') %}
        {% set participant = meal.getParticipant(app.user.profile) %}
        {% if participant %}
            {% if is_allowed_to_leave(meal) %}
                {{ MealzCheckbox.create(link(participant, 'delete') ,'participation-checkbox delete-action', {'checked': 'checked'}) }}
            {% elseif is_allowed_to_unswap(meal, participant) %}
                {{ MealzCheckbox.create(link(participant, 'unswap') ,'participation-checkbox unswap-action', {'checked': 'checked', 'data-participant-id': participant.getId}) }}
            {% elseif is_allowed_to_swap(meal) %}
                {{ MealzCheckbox.create(link(participant, 'swap') ,'participation-checkbox swap-action', {'checked': 'checked'}) }}
            {% else %}
                {{ MealzCheckbox.create('' ,'participation-checkbox', {'checked': 'checked', 'disabled': 'disabled'}) }}
            {% endif %}
        {% else %}
            {% if is_allowed_to_join(meal) %}
                {{ MealzCheckbox.create(link(meal, 'join') ,'participation-checkbox join-action', {'data-action': 'join'}) }}
            {% elseif is_offer_available(meal) and is_allowed_to_swap(meal) %}
                {{ MealzCheckbox.create(link(meal, 'accept_offer') , 'participation-checkbox acceptOffer-action') }}
            {% else %}
                {{ MealzCheckbox.create('' ,'participation-checkbox', {'disabled': 'disabled'}) }}
            {% endif %}
        {% endif %}
    {% else %}
        {{ MealzCheckbox.create('' ,'participation-checkbox no-user', {'disabled': 'disabled'}) }}
    {% endif %}
</div>
