{# buttons for the user to edit his participation #}
{% if is_granted('ROLE_USER') %}
	{% if button_class is not defined %}
		{% set button_class='' %}
	{% endif %}
	<div class="btn-group">
		{% set participant = meal.getParticipant(app.user.profile) %}
		{% set usersGuests = meal.getGuestParticipants(app.user.profile) %}
		{% if participant %}
			<a
				class="btn btn-success {{ button_class }}"
				href="{{ link(participant, 'edit') }}"
				title="{{ 'Edit'|trans({},'navigation') }}"
			>{{ 'you joined'|trans({},'navigation') }}</a>
			{% if is_allowed_to_leave(meal) %}
				<a
					class="btn btn-danger {{ button_class }}"
					href="{{ link(participant, 'delete') }}"
					title="{{ 'Leave'|trans({},'navigation') }}"
				>–</a>
			{% endif %}
		{% else %}
			<span class="btn btn-default {{ button_class }}">{{ 'join now'|trans({},'navigation') }}</span>
			{% if is_allowed_to_join(meal) %}
				<a
					class="btn btn-success {{ button_class }}"
					href="{{ link(meal, 'join') }}"
					title="{{ 'Join'|trans({},'navigation') }}"
				>+</a>
			{% endif %}
		{% endif %}

		{% if usersGuests | length > 0 %}
			<button class="btn btn-success {{ button_class }} dropdown-toggle" data-toggle="dropdown">
				<span class="glyphicon glyphicon-user"></span> {{ usersGuests | length }}
			</button>
			<ul class="dropdown-menu" role="menu">
				{% if is_allowed_to_add_guest(meal) %}
					<li><a href="{{ link(meal, 'newParticipant') }}">{{ 'Add a guest'|trans({},'navigation') }}</a></li>
					<li class="divider"></li>
				{% endif %}
				{% for guestParticipant in usersGuests %}
					<li><a href="{{ link(guestParticipant, 'edit') }}">{{ guestParticipant.guestName }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			{% if is_allowed_to_add_guest(meal) %}
				<a
					class="btn btn-default {{ button_class }}"
					href="{{ link(meal, 'newParticipant') }}"
					title="Add a guest"
				><span class="glyphicon glyphicon-user"></span> +</a>
			{% endif %}
		{% endif %}

	</div>
{% endif %}
