<div class="week">
	<div class="headline">
		{% if 'now' | date('U') < week.startTime | date('U') %}
			{{ 'week.next'|trans({},'general') }}
		{% else %}
			{{ 'week.current'|trans({},'general') }}
		{% endif %}

		<span>{{ week.startTime | date('D d.m.') }} - {{ week.endTime | date('D d.m.') }}</span>
	</div>

	{% if week.mealsCount | length > 0 %}

		{% for day,meals in week.days %}

			{% set available = true %}

			{# if user is logged in, is-available styling depends on "is (user) allowed to join" instead of date #}
			{% if is_granted('ROLE_USER') %}
				{% for meal in meals %}
					{% if not is_allowed_to_join(meal) %}
						{% set available = false %}
					{% endif %}
				{% endfor %}
			{% elseif 'now' | date('U') > day | date('U') %}
				{% set available = false %}
			{% endif %}

			<div class="meal {{ available ? 'is-available' : '' }}">

				{# display week day and date #}
				<div class="week-day">
					<a name="{{ day | date('Y-m-d') }}"></a>
				<span>
					{{ day | date('D') }}
				</span>
				</div>

				{# display meals for given day #}
				{% for meal in meals %}
					{% include 'MealzMealBundle:Meal/partials:meal.html.twig' %}
				{% endfor %}

			</div>
		{% endfor %}

	{% else %}
		{% include 'MealzMealBundle:Meal/partials:noMeals.html.twig' %}
	{% endif %}
</div>