<div class="meal-row"
    {% if parentDish is defined %}
    data-attribute-selected-dish="{{ parentDish }}"
    data-attribute-selected-variations="{% if parentDish != selectedDish.ids.0 %}{{ selectedDish.ids | json_encode}}{% endif %}"
    {% endif %}
>

    {% if parentDish is defined %}
        {% for formView in selectedDish.formViews %}
            {{ form_widget(formView, { 'attr': {'class':  'meal-selected meal-persisted'} }) }}
        {% endfor %}
    {% endif %}

    <div class="meal-select-box">
        <ul>
            {% set currentCategory = '' %}
            {% for dish in dishes %}
                {% set category = dish.category %}
                {% if category is not null and category.id != currentCategory %}
                    <li class="category">
                        Category: {{ category.title }}
                    </li>
                    {% set currentCategory = category.id %}
                {% endif %}
                {% set variations = dish.variations %}
                {% if not dish.parent %}
                    <li class="dishes" data-attribute-id="{{ dish.id }}" data-attribute-parent="{% if variations|length > 0 %}{% spaceless %}true{% endspaceless %}{% endif %}">
                        <span class="dish-title">{{ dish.title }}</span>
                        {% if variations|length > 0 %}
                            <div class="variation-button">variations</div>
                            <div class="meal-select-variations">
                                {% for variation in variations %}
                                    <div class="variation" data-attribute-id="{{ variation.id }}">
                                        <div class="variation-checkbox {% if selectedDish is defined and variation.id in selectedDish.ids %}checked{% endif %}"></div>
                                        <label for="variation">{{ variation.title }}</label>
                                    </div>
                                {% endfor %}
                                <div class="error">{{ 'error.meal.variation_required'|trans({},'messages') }}</div>
                                <a href="#" class="button small">save</a>
                            </div>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="meal-select">
        <span class="meal-label">{% spaceless %}
        {% if parentDish is defined %}
            {{ getFullTitleByDishAndVariation(parentDish , selectedDish.ids, dishes) }}
        {% endif %}
        {% endspaceless %}</span>
        <a class="remove-meal" href="#"{% if parentDish is defined %}style="display: block;"{% endif %}>
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </div>
</div>
