{% set selectedDishJsonEncoded %}{% spaceless %}
    {% if selectedDish == null or parentDish == selectedDish.0 %}
        null
    {% else %}
        {{ selectedDish | json_encode}}
    {% endif %}
{% endspaceless %}{% endset %}
<div class="meal-row"
    data-attribute-selected-dish="{{ parentDish }}"
    data-attribute-selected-variations="{{ selectedDishJsonEncoded | json_encode }}"
    data-prototype="{{ form_widget(form.children.days.children[loop.parent.loop.index0].children.meals.vars.prototype)|e('html_attr') }}"
>
    {% set formMeals = reloadFormMeals() %}

    {% if selectedDish is not null %}
        {% set formViews = getGroupedFormViews(selectedDish, formMeals) %}
    {% elseif parentDish is not null %}
        {% set formViews = getGroupedFormViews(parentDish, formMeals) %}
    {% else %}
        {% set formViews = [formMeals|first] %}
    {% endif %}

    {{ removeUsedFormViews(formMeals, formViews) }}

    {% for formView in formViews %}
        {{ form_widget(formView, { 'attr': {'class': 'meal-selected'} }) }}
    {% endfor %}

    <div class="meal-select-box">
        <ul>
            {% set currentCategory = '' %}
            {% for dish in dishes %}
                {% set category = dish.category %}
                {% if category is not null and category.id != currentCategory %}
                    <li class="category">
                        Category: {{ category.title }}
                    </li>
                    {% set currentCategory = category.id %}
                {% endif %}
                {% set variations = dish.variations %}
                {% if not dish.parent %}
                    <li class="dishes" data-attribute-id="{{ dish.id }}" data-attribute-parent="{% if variations|length > 0 %}{% spaceless %}true{% endspaceless %}{% endif %}">
                        <span class="dish-title">{{ dish.title }}</span>
                        {% if variations|length > 0 %}
                            <div class="variation-button">variations</div>
                            <div class="meal-select-variations">
                                {% for variation in variations %}
                                    <div class="variation">
                                        <div class="variation-checkbox {% if variation.id in selectedDish %}checked{% endif %}"></div>
                                        <label for="variation" data-attribute-id="{{ variation.id }}">{{ variation.title }}</label>
                                    </div>
                                {% endfor %}
                                <a href="#" class="button small">save</a>
                            </div>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="meal-select"><span class="meal-label">{{ getFullTitleByDishAndVariation(parentDish , selectedDish, dishes) }}</span></div>
</div>