{% extends '::base.html.twig' %}

{% block body %}
	<div class="container">
		{% include 'MealzAccountingBundle:Accounting/partials:flashMessages.html.twig' %}

		<div class="container bg-warning">
			{% include 'MealzAccountingBundle:Accounting/partials:flashMessages.html.twig' %}

			<h4>{{ 'Wallet'|trans }}</h4>

			<p><strong>{{ walletBalance|localizedcurrency('EUR', app.request.locale) }}</strong></p>

			<div class="btn-group">
				{% if walletBalance < 0 %}
					<a
						class="btn btn-primary"
						href="{{ path('mealz_accounting_payment_paypal_balance') }}"
						title="balance"
						>balance</a>
				{% endif %}
				<a
					class="btn btn-default"
					href="{{ path('mealz_accounting_payment_paypal_custom') }}"
					title="add money"
					>add money</a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<h4>{{ 'Last Participations'|trans({},'general') }}</h4>
				{% include 'MealzAccountingBundle:Accounting/partials:participantTable.html.twig' with {
					participations: participations,
				} %}
				<a href="{{ path('MealzAccountingBundle_Accounting_participation') }}">All Participations</a>
			</div>
			<div class="col-md-6">
				<h4>{{ 'Last Transactions'|trans({},'general') }}</h4>
				{% include 'MealzAccountingBundle:Accounting/partials:transactionTable.html.twig' with {
					transactions: transactions,
				} %}
				<a href="{{ path('MealzAccountingBundle_Accounting_transaction') }}">All Transactions</a>
			</div>
		</div>
	</div>

{% endblock %}