{% extends '::base_navigation.html.twig' %}

{% set wrapperClass = 'transaction-history' %}

{% block body %}

    <div class="headline-container headline-container-h1 headline-left"><h1>{{ 'payment.transaction_history.account'|trans({}, 'messages') }}</h1></div>
    <div class="last-account-balance">
        {{ 'payment.transaction_history.balance_past'|trans({}, 'messages') ~ ' ' ~ date("-28days")|date("d.m.Y") }}:<span class="dept">{{ balance + participations_total - transactions_total }}€</span>
    </div>
    <table class="table table-full-width">
        <thead>
        <tr class="table-header">
            <th class="table-head">{{ 'payment.transaction_history.date'|trans({}, 'messages') }}</th>
            <th class="table-head">{{ 'payment.transaction_history.description'|trans({}, 'messages') }}</th>
            <th class="table-head">{{ 'payment.transaction_history.amount'|trans({}, 'messages') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for participation in participations %}
            <tr class="table-row transaction-meal">
                <td class="table-data">{{ participation.meal.dateTime|date('M d, Y') }}</td>
                <td class="table-data transaction-description">{{ participation.meal.dish.title }}</td>
                <td class="table-data"><span>-</span> {{ participation.meal.price|number_format(2, '.', ',') }}€</td>
            </tr>
        {% endfor %}
        {% for transaction in transactions %}
            <tr class="table-row transaction-payment">
                <td class="table-data">{{ transaction.date|date('M d, Y') }}</td>
                <td class="table-data transaction-description">{{ 'payment.transaction_history.cash_payment'|trans({}, 'messages') }}</td>
                <td class="table-data"><span>+</span> {{ transaction.amount|number_format(2, '.', ',') }}€</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr class="table-row">
            <td class="table-data transaction-description" colspan="2">{{ 'payment.transaction_history.balance_now'|trans({}, 'messages') }}:</td>
            <td class="table-data"><span></span> {{ balance }}€</td>
        </tr>
        </tfoot>
    </table>

{% endblock %}
