{% extends '::base_navigation.html.twig' %}

{% set wrapperClass = 'transaction-history' %}

{% block body %}
    <script src="https://www.paypal.com/sdk/js?client-id={{ paypal_id }}"></script>
    <div class="headline-container headline-container-h1 headline-left"><h1>{{ 'payment.transaction_history.account'|trans({}, 'messages') }}</h1></div>
    <div class="add-funds">
        {{ MealzButton.link(
                path('mealz_accounting_payment_ecash_form', {profile: app.user.profile.username}),
                'payment.transaction_history.add_funds',
                '',
                'load-payment-form transparent',
                'glyphicon-plus'
            )}}
    </div>
    <div class="last-account-balance">
        {{ 'payment.transaction_history.balance_past'|trans({}, 'messages') ~ ' ' ~ date("-28days")|date("d.m.Y") }}:<span {% if((balance + participations_total - transactions_total) < 0) %}class="dept"{% endif %}>{{ (balance + participations_total - transactions_total)|number_format(2, '.', ',') }}€</span>
    </div>
    <table class="table table-full-width">
        <thead>
        <tr class="table-header">
            <th class="table-head">{{ 'payment.transaction_history.date'|trans({}, 'messages') }}</th>
            <th class="table-head">{{ 'payment.transaction_history.description'|trans({}, 'messages') }}</th>
            <th class="table-head">{{ 'payment.transaction_history.amount'|trans({}, 'messages') }}</th>
        </tr>
        </thead>
        <tbody>

        {% for transaction_record in transaction_history_records %}
                {% if transaction_record.meal is defined %}
                    <tr class="table-row transaction-meal">
                        <td class="table-data">{{ transaction_record.meal.dateTime|date('d. M Y') }}</td>
                        <td class="table-data transaction-description">{{ transaction_record.meal.dish.title }}</td>
                        <td class="table-data"><span>-</span> {{ transaction_record.meal.price|number_format(2, '.', ',') }}€</td>
                    </tr>
                {% else %}
                    <tr class="table-row transaction-payment">
                        <td class="table-data">{{ transaction_record.date|date('d. M Y') }}</td>
                        <td class="table-data transaction-description">{{ 'payment.transaction_history.cash_payment'|trans({}, 'messages') }}</td>
                        <td class="table-data"><span>+</span> {{ transaction_record.amount|number_format(2, '.', ',') }}€</td>
                    </tr>
                {% endif %}
        {% endfor %}
        </tbody>
        <tfoot>
            <tr class="table-row">
                <td class="table-data transaction-description" colspan="2">{{ 'payment.transaction_history.balance_now'|trans({}, 'messages') }}:</td>
                <td class="table-data">
                    <span {% if(balance < 0) %}class="dept"{% endif %}>{{ balance }}€</span>
                </td>
            </tr>
        </tfoot>
    </table>

{% endblock %}
