<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AOE Meals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <link rel="stylesheet" href="{{ assets_server }}{{ asset('static/app.css') }}" />
    {% block head %}{% endblock %}
</head>

{% set pageView = block('pageView') is defined ? block('pageView') : '' %}

{% set activeRoute = app.request.attributes.get('_route') %}
{% set userAgent = app.request.headers.get('User-Agent') %}
{# topics for which to receive the notifications/messages from server #}
{% set topics = ['participation-updates', 'meal-offer-updates', 'slot-allocation-updates'] -%}

<body>

{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <script type="text/javascript">
        let profile = {{ app.user.profile | json_encode() | raw }};
        sessionStorage.setItem('user', profile.user)
        sessionStorage.setItem('roles', profile.roles)
        sessionStorage.setItem('balance', '{{ wallet.getBalance(app.user.profile) }}');
        sessionStorage.setItem('mercure_url', '{{ mercure(topics, {subscribe: topics})|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw|trim('"') }}');
    </script>
{% endif %}

{% block body %}{% endblock %}

<script src="{{ assets_server }}/static/vendors.js"></script>
<script src="{{ assets_server }}/static/app.js"></script>
</body>
</html>
