<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AOE Meals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    {# <link rel="stylesheet" href="{{ assets_server }}{{ asset('static/app.css') }}" /> #}
    {# <link rel="stylesheet" href="https://meals.test:5173/style/main.css" /> #}
    {% block head %}{% endblock %}
    {% block stylesheets %}
        {{ vite_entry_link_tags('app') }}
        {{ vite_entry_link_tags('theme') }}
    {% endblock %}
    {# {% if vite_mode() == 'dev' %}
        <script type="module" src="https://meals.test:5173/@vite/client"></script>
        <script type="module" src="https://meals.test:5173/src/main.ts"></script>
    {% else %} #}
    {% block javascripts %}
        {{ vite_entry_script_tags('app') }}
        <script>
            window.appData = {
                payment_notification_debt: {{ payment_notification_debt }},
                account_order_locked_balance_limit: {{ account_order_locked_balance_limit }}
            };
        </script>
    {% endblock %}
    {# {% endif %} #}
</head>
<style>
#loading-fallback-container {
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#loading-fallback-img {
    background: no-repeat center/100% url("{{ assets_server }}/images/loading.svg");
    height: 20vw;
    width: 20vw;
    filter: drop-shadow(0 0 0.35rem rgba(0, 0, 0, 0.75));
    animation: spin 1.5s reverse ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(720deg);
    }
}
</style>

{% set pageView = block('pageView') is defined ? block('pageView') : '' %}

{% set activeRoute = app.request.attributes.get('_route') %}
{% set userAgent = app.request.headers.get('User-Agent') %}
<body>
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
{% set topics = ['participation-updates', 'meal-offer-updates', 'slot-allocation-updates', 'event-participation-updates', 'keep-alive-connection'] -%}
{% set mercure = mercure(topics, {subscribe: topics}) %}
{% endif %}

{% block body %}{% endblock %}
</body>
</html>
