{% extends '::base_navigation.html.twig' %}

{% block body %}
	<div class="container">
		<h1>{{ profile.name }}'s Accounting</h1>
		{% include 'MealzAccountingBundle:Accounting/partials:flashMessages.html.twig' %}

		<div class="container bg-warning">
			<h4>{{ 'Wallet'|trans }}</h4>

			<p><strong>{{ walletBalance|localizedcurrency('EUR', app.request.locale) }}</strong></p>

			<div class="btn-group">
				<a
					class="btn btn-default"
					href="{{ path('mealz_accounting_payment_cash', {profile: profile.username}) }}"
					title="add money"
					>add money</a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<h4>{{ 'Last Participations'|trans({},'general') }}</h4>
				{% include 'MealzAccountingBundle:Accounting/partials:participantTable.html.twig' with {
					participations: participations,
				} %}
				<a href="{{ path('MealzAccountingBundle_Accounting_Admin_participation', {profile: profile.username}) }}">All Participations</a>
			</div>
			<div class="col-md-6">
				<h4>{{ 'Last Transactions'|trans({},'general') }}</h4>
				{% include 'MealzAccountingBundle:Accounting/partials:transactionTable.html.twig' with {
					transactions: transactions,
				} %}
				<a href="{{ path('MealzAccountingBundle_Accounting_Admin_transaction', {profile: profile.username}) }}">All Transactions</a>
			</div>
		</div>
	</div>

{% endblock %}