{###
# Creates a Button (with a <a> as base)
#
# @param href                   string      Link Target
# @param label                  string      Label of the button (could be '') for icon only (Translated)
# @param id                     string      Id Tag of the button
# @param class                  string      Additional CSS Classes
# @param icon                   string      Icon Name (icon without 'icon-' prefix, glyphicon icon with 'glyphicon-' prefix. (Optional)
# @param iconPosition           string      Position of the Icon (left / right)
# @param additionalAttributes   array       Array of Attributes of the link Object
#}
{% macro link(href, label, id, class, icon, iconPosition, additionalAttributes) %}
    {%- import 'MealzTemplateBundle::Components/_common.html.twig' as commonlib -%}
    {%- spaceless -%}

        {#- support for glyphicon -#}
        {% if icon|slice(0, 10) == 'glyphicon-' %}
            {% set glyphicon = icon %}
            {% set icon = 'glyphicon' %}
        {% endif %}

        {% if icon|slice(0, 4) == 'svg-' %}
            {% set svgIcon = icon %}
            {% set icon = 'svg' %}
        {% endif %}

        {% set hrefAttr = href | escape %}

        {# set Button href to # if nothing is set (i.e: info tooltips) #}
        {% if href == '' %}
            {% set hrefAttr = '#' %}
        {% endif %}

        <a class="button {% if icon != '' %}icon icon-{{- icon -}} {% if iconPosition == 'right' %} icon-right{% endif %}{% endif %}{% if label == '' %} icon-only{% endif %} {{ class }}" {# -#}
           href="{{ hrefAttr | raw }}"
                {{- commonlib.optionalAttribute('id', id) -}}
                {{- commonlib.additionalAttributes(additionalAttributes) -}}
        >
            {%- if icon != '' -%}
                {% set icon %}
                    {%- if icon == 'glyphicon' -%}
                        <i class="glyphicon {{ glyphicon }}"></i>
                    {%- else -%}
                        <span aria-hidden="true" class="icon {{ svgIcon }}"></span>
                    {%- endif -%}
                {% endset %}
            {%- endif -%}

            {%- if iconPosition != 'right' %}
                {{- icon -}}
            {% endif -%}

            {%- if label %}
                {{- label|trans -}}
            {% endif -%}

            {%- if iconPosition == 'right' %}
                {{- icon -}}
            {% endif -%}
        </a>
    {%- endspaceless -%}
{% endmacro %}

{###
# Creates a Buttonbar
#
# @param id         string      Id Tag of the Buttonbar
# @param class      string      Additional CSS Classes
# @param elements   array       Array of Elements to display
#}
{% macro buttonbar(id, classes, elements) %}
    {%- import 'MealzTemplateBundle::Components/_common.html.twig' as commonlib -%}
    <div {{ commonlib.optionalAttribute('id', id) -}} {{ commonlib.optionalAttribute('class', 'buttonbar-container '~classes) -}}>
        {%- for idx, element in elements -%}
            {% if element is not empty %}
                <div class="buttonbar-element buttonbar-element-{{ idx }}">
                    {{- element | raw -}}
                </div>
            {% endif %}
        {%- endfor -%}
    </div>
{% endmacro %}