{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <div class="login-text">{{ 'header.logged_in_text'|trans({}, 'general') }}: <strong>{{ app.user.username }}</strong></div>
    <div class="balance-text">
            {{ 'header.balance'|trans({}, 'general') }}:{{ MealzButton.link(path('mealz_accounting_payment_transaction_history'), balance ~ '€', '', (activeRoute matches '/mealz_accounting_payment_transaction_history.*/' ? 'active' : '') , '') }}
    </div>
    {{ MealzButton.link(path('MealzUserBundle_logout'), '', '', '', 'glyphicon-log-out') }}
{% else %}
    <form name="login-form" class="login-form" action="{{ path('MealzUserBundle_checkLogin') }}" method="post">
        <input type="text" placeholder="Username" class="form-control" name="_username" autofocus />
        <input type="password" placeholder="Password" class="form-control" name="_password" />
        <button type="submit" class="button button-login">LOGIN</button>
    </form>
{% endif %}
