
{{ form_start(form) }}

{{ form_widget(form.profile) }}

{{ form_label(form.amount) }}
{{ form_widget(form.amount) }}

<span class="payment-method">{{ 'payment.transaction_history.payment_method'|trans({}, 'messages') }}</span>

{{ form_widget(form.paymethod) }}
<div id="paypal-button-container">
</div>
{{ form_rest(form) }}
{{ form_end(form) }}
